
<!--<form action="/session/create" method ="POST" class="form-singin">
<h2 class="form-singin-heading"> Inicia sesion</h2>

	
	
	<input type="text" class="form-control" placeholder="usuario" name="usuario">
	<input type="password" class="form-control" placeholder="contraseña" name="contrasena">
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar Sesion"/>
</form>-->
<h2>holi</h2>
