
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   
<BR><BR>Bienvenida Trabajadora Social

<br><br>

<br><br>

<!-- -->

<button class="button button3" onclick="location.href = 'link'">FAC 14 Ficha de Identificación V 10</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC_144 Ingreso en Trámite V00</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC_ 131. Carta Compromiso V 04</button>

<br><br>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC_ 130. Indicaciones para las Derechohabientes V 03</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 13fichaReinscripcion</button>

<br><br>

 <button class="button button3" onclick="location.href = 'link'">FAC 11. Estudio Socioeconómico V 03</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">Reportes mensuales</button>

<br><br>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">Reportes diarios</button>
 
</div>

<br><br>


<br><br><br></div>


  </form>
        
       </div> 

    </div>
</form>