
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>


    <div class="section1">&nbsp&nbsp&nbspEstudio socioeconómico </div>
      <div class="section">&nbsp&nbsp&nbsp Fecha</div>  
    <form>
  <div class="form-group">
    <input type="date" id="bday" name="calendario" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min="2017-01-01">
    <span class="validity"></span>
  </div>
</form>
<br>

<!-- Aqui empieza el estudio socioeconomico-->

        <form class="form-inline">

         <div class="inner-wrap">

<div class="section">&nbsp&nbsp&nbspDatos del niño</div>
<div class="section">&nbsp&nbsp&nbspEl formulario se deberá llenar con letras mayúsculas</div>
 
        <div class="form-group"> Nombre: <input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="materno" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
    Edad años: <input type="number" id="años" name="años" required pattern="[0-9]+" max="6">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
    Edad meses: <input type="number" id="meses" name="meses" required pattern="[0-9]+" max="11">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min="2011-01-01">
    <span class="validity"></span>
  </div>

<!--  *************************************************  -->
 <div class="form-group"> 
<br>
 Grupo a cursar: <input type="text" name="grupo" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z0-9]+">
         </div>  
         
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>   No. de hermano: <input type="number" id="nohermano" name="nohermano" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>  Domicilio Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    <div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder="" minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel (10 díg):  <input type="text" id="tel" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="ext" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="cel" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

<!--   DATOS DEL DERECHOHABIENTE    -->

    <br><br> <div class="section">&nbsp&nbsp&nbspDatos del derechohabiente</div>

         <div class="form-group"> Nombre: <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class="form-group">
         Estado civil:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Soltero</option>
  <option value="saab">Casado</option>
  <option value="vw">Divorciado</option>
  <option value="vw">Viudo</option>
  <option value="vw">Separado</option>
  <option value="vw">Unión libre</option>
</select>
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Lugar de nacimiento: <input type="text" name="nacimiento" placeholder=""
                  minlength="0" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>  Domicilio del trabajo
    Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel (10 díg):  <input type="text" id="tel" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="ext" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="cel" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Ocupación: <input type="text" name="ocupacion" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Adscripción: <input type="text" name="adscripcion" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Escolaridad: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

     &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>
<!-- DATOS DEL PADRE             -->
   <br><br> <div class="section">&nbsp&nbsp&nbspDatos del padre</div>

<div class="form-group"> Nombre: <input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternot" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternot" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group">
         Estado civil:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Soltero</option>
  <option value="saab">Casado</option>
  <option value="vw">Divorciado</option>
  <option value="vw">Viudo</option>
  <option value="vw">Separado</option>
  <option value="vw">Unión libre</option>
</select>
        </div>


        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Lugar de nacimiento: <input type="text" name="nacimientot" placeholder=""
                  minlength="0" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>




 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>  Domicilio del trabajo
    Calle: <input type="text" name="callet" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noextt" name="noextt" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="nointt" name="nointt" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="colt" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="delt" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfedt" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cpt" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel (10 díg):  <input type="text" id="telt" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="extt" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="celt" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Ocupación: <input type="text" name="ocupaciont" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

      


  &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>Lugar de trabajo: <input type="text" name="lugtrabajot" placeholder=""
                  minlength="4" maxlength="60" required pattern="[A-Z 0-9]">
        </div>




 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Escolaridad: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

     &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>

 <!-- DATOS DE LA PERSONA AUTORIZADA PARA RECOGER AL NIÑO-->
 
<br><br> <div class="section">&nbsp&nbsp&nbspDatos de la persona autorizada para recoger al niño</div> <br>

<div class="form-group"> Nombre: <input type="text" name="nombrepa" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternopa" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

       &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternopa" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

       &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Parentezco con el niño:

          <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
        </div>



&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
       Entidad o lugar de nacimiento: <input type="text" name="lugtrabajopa" placeholder=""
                  minlength="1" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<br>


<div class="form-group">
       <br>Ocupación: <input type="text" name="ocupacionpa" placeholder=""
                  minlength="1" maxlength="20" required pattern="[A-Z 0-9]">
        </div>



&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Escolaridad:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
        </div>



        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Estado civil:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Soltero</option>
  <option value="saab">Casado</option>
  <option value="vw">Divorciado</option>
  <option value="vw">Viudo</option>
  <option value="vw">Separado</option>
  <option value="vw">Unión libre</option>
</select>
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
     <br>Tel (10 díg):  <input type="text" id="telpa" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
     <br>Ext:  <input type="text" id="extpa" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>




&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
<div class="form-group">
     <br>Cel (10 díg):  <input type="text" id="telpa" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>
  

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>  Domicilio del trabajo Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder="" minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>




&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>
 

 <br><br> <div class="section">&nbsp&nbsp&nbspFotografías de padres y persona autorizada (sólo archivos jpg):</div> <br>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Madre o tutor(a):
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Padre:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Persona autorizada:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>
<br>
<br><br><div class="section">&nbsp&nbsp&nbspEconomía familiar</div>
    <td>
     
      <table align="left"><tr><td>
  <tr>
    <th colspan="2">Área</th>
  </tr>

  <tr>
    <th>Urbana:</th>
    <td>
      <div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
    </td>
  </tr>

  <tr>
    <th>Suburbana:</th>
    <td>
      <div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
    </td>
    </tr>
  

  <tr>
    <th>Rural:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

    </td>
  </tr>

  

  <tr>
    <th>Rural:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
</td></tr></table>

    <td>
      <table align="right"><tr><td>


  
<tr>
    <th colspan="2">Tipo vivienda</th>
  </tr>

  <tr>
    <th>Casa sola:</th>
    <td>
      <div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
    </td>
  </tr>

  <tr>
    <th>Condominio:</th>
    <td>
      <div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
    </td>
    </tr>
  

  <tr>
    <th>Departamento:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

    </td>
  </tr>


  <tr>
    <th>Vecindad:</th>
    <td>




      
<div class="form-group">
     <br> <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

    </td>
  </tr>
  <tr>
    <th>Otros:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[A-Z]+" title="Llena el campo con una letra X mayúscula">
        </div>

    </td>
  </tr>
</table>  

    <td>
      <table align="center"><tr><td>

<tr>
    <th colspan="2">Tenencia</th>
  </tr>

  <tr>
    <th>Propia:</th>
    <td>
      <div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
    </td>
  </tr>

  <tr>
    <th>Prestada:</th>
    <td>
      <div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>
    </td>
    </tr>
  

  <tr>
    <th>A crédito:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

    </td>
  </tr>


  <tr>
    <th>Rentada:</th>
    <td>
      
<div class="form-group">
     <br> <input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

    </td>
  </tr>

</table>




<br><br><br><br><br><br><br><div class="section"></div>

  
  

 <table align="left"><tr><td>
<tr>
    <th colspan="4">Egresos mensuales</th>
  </tr>

  <tr>
    <th>Alimentación:</th>
    <td>
      <div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>
    </td>
    
    <th>Medicinas:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
  </tr>

  <tr>
    <th>Renta o predial:</th>
    <td>
      <div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>
    </td>
    
    <th>Ayuda a familiares:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
    </tr>
  

  <tr>
    <th>Agua:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

<th>Diversiones:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>

    </td>
  </tr>


  <tr>
    <th>Luz:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
    
    <th>Teléfono:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
  </tr>

<tr>
    <th>Gas:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
    <th>Otros:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
  </tr>



<tr>
    <th>Ropa:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
    <th>Transporte:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
    
  </tr>

  <tr>
    <th>Total:</th>
    <td  colspan="3">
      
      <div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
  </tr>
  
  </table>
    </td>



    <td>
      <table align="right"><tr><td>

<tr>
    <th colspan="2">Ingresos mensuales</th>
  </tr>

  <tr>
    <th>Padre:</th>
    <td>
      <div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>
    </td>
  </tr>

  <tr>
    <th>Madre:</th>
    <td>
      <div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>
    </td>
    </tr>
  

  <tr>
    <th>Hijos:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
  </tr>


  <tr>
    <th>Otros:</th>
    <td>
      
<div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
  </tr>


  <tr>
    <th>Total:</th>
    <td>
      
      <div class="form-group">
     <br>  <input type="number" name="del" placeholder="$0.00" required pattern="[0-9]+">
        </div>

    </td>
  </tr>

  </table>





<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><div class="section"></div>

<br><br><div class="section"></div>



 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div>
         Condiciones materiales del inmueble: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="250" required pattern="[A-Z]+">
        </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div>
         Servicios con los que cuenta la vivienda: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="250" required pattern="[A-Z]+">
        </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div>
         Descripción del inmueble: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="250" required pattern="[A-Z]+">
        </div>

<br><br><div class="section">&nbsp&nbsp&nbspEstructura familiar</div>
Datos de las personas que conviven con el niño frecuentemente<br><br>

<table>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Parentezco</th>
    <th>Ocupación</th>
    <th>Escolaridad</th>
  </tr>
  <tr>
    <td><input type="text" name="nombrepconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
        </td>
        
    <td><input type="number" name="edadpconv" placeholder="" required pattern="[0-9]+" max="150">
    </td>
    <td>
    <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
    </td>
    <td>
    <input type="text" name="ocupacionpconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
    </td>
    
    <td>
    <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
    </td>
    
  </tr>
    <tr>
    <td><input type="text" name="nombrepconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
        </td>
        
    <td><input type="number" name="edadpconv" placeholder="" required pattern="[0-9]+">
    </td>
    <td>
    <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
    </td>
    <td>
    <input type="text" name="ocupacionpconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
    </td>
    
    <td>
    <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
    </td>
    
  </tr>
    <tr>
    <td><input type="text" name="nombrepconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
        </td>
        
    <td><input type="number" name="edadpconv" placeholder="" required pattern="[0-9]+">
    </td>
    <td>
    <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
    </td>
    <td>
    <input type="text" name="ocupacionpconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
    </td>
    
    <td>
    <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
    </td>
    
  </tr>
    <tr>
    <td><input type="text" name="nombrepconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
        </td>
        
    <td><input type="number" name="edadpconv" placeholder="" required pattern="[0-9]+">
    </td>
    <td>
    <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
    </td>
    <td>
    <input type="text" name="ocupacionpconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas"  required>
    </td>
    
    <td>
    <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
    </td>
    
  </tr>
    <tr>
    <td><input type="text" name="nombrepconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
        </td>
        
    <td><input type="number" name="edadpconv" placeholder="" required pattern="[0-9]+">
    </td>
    <td>
    <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
    </td>
    <td>
    <input type="text" name="ocupacionpconv" pattern="[A-Z]+" title="Llena el campo con una letras mayúsculas" required>
    </td>
    
    <td>
    <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
    </td>
    
  </tr>
</table>

<br>Servicios médicos <br><br>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>  ISSTE<input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>  IMSS<input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>  PARTICULAR<input type="text" name="country_code" pattern="[X]" title="Llena el campo con una letra X mayúscula">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>  OTROS<input type="text" name="country_code" pattern="[A-Z]+" title="Llena el campo con letras mayúsculas">
        </div>



<br><br>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div>
         Frecuencia con la que asiste al médico: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="250" required pattern="[A-Z]+">
        </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div>
         Diagnóstico: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="2000" required pattern="[A-Z]+">
        </div>

    <br><br> <div class="section">&nbsp&nbsp&nbsp Dinámica famililar</div>

    <br> &nbsp Describa la dinámica familiar
    <br> ¿Fue deseado el embarazo?
    <br> ¿Cuenta con habitación propia el niño?
 
    <div class="form-group">
     <textarea name="textarea" cols="170" rows="8" placeholder="Escriba las observaciones de la dinámica"></textarea>
    </div>

    <br><br><br>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       Nombre de la persona que atiende al niño cuando no asiste al Centro: <input type="text" name="entfed" placeholder="" minlength="1" maxlength="50" required pattern="[A-Z ]+">
        </div>

&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">

       Parentezco con el niño:

          <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
        </div>


     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRelación del niño con esta persona
 
    <div class="form-group">
     <textarea name="textarea" cols="30" rows="4" placeholder="Describa como es la relación del niño con esta persona"></textarea>
    </div>






<br><div class="section">&nbsp&nbsp&nbspDatos de ingreso al CENDI:</div>


 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha de alta del niño: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
    <span class="validity"></span>
  </div>

   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha de ingreso: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha de ingreso del niño (En caso de cambio de CENDI): <input type="date" id="cumple" name="cumple" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group"> Lugar de procedencia: <input type="text" name="nombret" placeholder=""
                  minlength="2" maxlength="40" pattern="[A-Z ]+">
         </div>  


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha de baja en el CENDI: <input type="date" id="cumple" name="cumple" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
    <span class="validity"></span>
  </div>
<br><br><br>


     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMotivo
 
    <div class="form-group">
     <textarea name="textarea" cols="30" rows="4" placeholder="Motivo"></textarea>
    </div>


     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspObservaciones
 
    <div class="form-group">
     <textarea name="textarea" cols="30" rows="4" placeholder="Observaciones"></textarea>
    </div>

<br><br><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspVo. Bo.

<br><br><br><br><br><br><br><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp__________________________________ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp__________________________________

<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNombre y Firma de la Directora del CENDI. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNombre y Firma de la Trabajadora Social del
CENDI
<br><br>
Recibí la dirección electrónica www.cocendi.ipn.mx, para consulta de: Lista de Material, Ficha de identificación,
y Lineamientos para la Operación y Funcionamiento de los Centros de Desarrollo Infantil del Instituto Politécnico
Nacional, los cuales me comprometo a leer y cumplir



<br><br><br><br><br><br><br><br>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
        <input type="text" name="entfed" placeholder="" minlength="1" maxlength="50" required pattern="[A-Z ]+">
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
    <span class="validity"></span>
  </div>
        <br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp__________________________________ &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp__________________________________

<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNombre y firma. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFecha

  </form>

<br><br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" /> 



</div>


  </form>
        
       </div> 

</div>
</form>
