
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">  <div class="section1">
    &nbsp&nbsp&nbspCARTA COMPROMISO <br><br><br>DE LAS DERECHOHABIENTES TRABAJADORAS DE LA COORDINACIÓN DE
CENTROS DE DESARROLLO INFANTIL Y CENTROS DE DESARROLLO INFANTIL
QUE TIENEN A SU HIJO INSCRITO EN UN CENDI O EN EL CENTRO DE SU
ADSCRIPCIÓN.</div>




<br><br><br>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

 <div class="form-group">
    Ciudad de México a: <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>




<br> La C. <div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  
         trabajadora del
CENDI Clementina Batalla de Bassols se compromete a cumplir con los Lineamientos
para la Operación y Funcionamiento de los Centros de Desarrollo Infantil del Instituto
Politécnico Nacional vigentes, en lo relacionado con la educación que se imparte en el
CENDI, se abstendrá de intervenir en los programas y métodos educativos aplicados en el
grupo en el que se encuentra inscrito su hijo(a) <div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  .así mismo no pretenderá contar con beneficios o privilegios adicionales para sí o para su
hijo(a), que pudieran derivarse de su condición laboral.

          <BR><BR>Tendrá un trato respetuoso y cordial con todos los agentes educativos, aceptando de
antemano que no podrá laborar en el mismo grupo en el cual esté inscrito su hijo(a).
<br><br>




  </div>
</div>
   
<table align="center">
  
    <th>Ciclo escolar</th>
    <th>Nombre de la trabajadora</th>
    <th>Firma de la trabajadora</th>
  </tr>
  <tr>
    <td>2012-2013</td>
    <td>
    
    <div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+"></td>
    <td></td>
  </tr>
  <tr>
    <td>2013-2014</td>
    <td><div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+"></td>
    <td></td>
  </tr>
  <tr>
    <td>2014-2015</td>
    <td><div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+"></td>
    <td></td>
  </tr>
  <tr>
    <td>2015-2016</td>
    <td><div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+"></td>
    <td></td>
</tr><tr>
    <td>2016-2017</td>
    <td><div class="form-group"><input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+"></td>
    <td></td>
</tr>
</table>


    
<br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" value="Descargar"/> 
<br><br><br>


</div>


  </form>
        
       </div> 

</div>
</form>
