
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">  <div class="section1">
    &nbsp&nbsp&nbspINDICACIONES PARA LAS DERECHOHABIENTES TRABAJADORAS DE LA COORDINACIÓN DE
CENTROS DE DESARROLLO INFANTIL Y CENTROS DE DESARROLLO INFANTIL QUE TIENEN A SU
HIJO INSCRITO EN UN CENDI O EN EL CENTRO DE SU ADSCRIPCIÓN.</div>
<br> 1. Entregar y recibir a su hijo en el filtro, cumpliendo con los horarios establecidos.
En el horario de salida deberá solicitar la entrega de su hijo al personal asignado en filtro, debiendo
mostrar diariamente la credencial proporcionada por el CENDI. <BR><BR><BR>
2. En relación a los asuntos relacionados con su hijo que puedan causarle incertidumbre, deberá dirigirse a la
Directora del CENDI, para su canalización y atención conjunta con el Área Técnica correspondiente, en
apego a los Lineamientos para la Operación de los Centros de Desarrollo Infantil del Instituto
Politécnico Nacional vigentes.<br><BR><BR>
3. Previa autorización de la Directora del CENDI la derechohabiente podrá participar en la clase abierta de su
hijo, sin afectar las funciones que le corresponden en el CENDI, ni las actividades organizadas para tal
evento. (aplica solo en caso de que su hijo (a) esté inscrito en el Centro de su adscripción). <br><BR><BR>
4. No hacer visitas especificas al grupo de su hijo, para observarlo, sin autorización de la Directora, ni a través
de terceros.<br><BR><BR>
5. No intervendrá en el trabajo técnico y educativo del personal, respetando la rutina diaria de trabajo en el
CENDI. <br><BR><BR>
6. Acatar las indicaciones de la Directora y/o personal técnico del CENDI, que sean necesarias para coadyuvar
al mejor desarrollo de su hijo, sobre todo las de tipo especializado.  <BR><BR><BR>
7. En el caso de incumplimiento con alguna de las anteriores indicaciones o incurrir en alguna falta que ponga
en riesgo la estabilidad de su hijo y/o del personal del CENDI se harán acreedoras a las siguientes
sanciones: <br><BR><BR>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspa) Dos amonestaciones verbales que deberán realizarse en presencia de algún integrante del Área Técnica y
la Representación Sindical. <br><BR><BR>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspb) La tercera amonestación será por escrito y deberá ser entregada en presencia de algún integrante del
Área Técnica y la Representación Sindical. <br><BR><BR>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspc) De incurrir por cuarta vez en cualquiera de las presentes indicaciones la Derechohabiente será
informada por escrito que se procederá al cambio de CENDI de su hijo. &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp(aplica solo en caso de que su
hijo (a) esté inscrito en el Centro de su adscripción).
.</div>
  </div>
</div>


<br><br><br>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Ciudad de México a: <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

<br><br><br><br>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
Certificado QS-307-MX / ISO 9001:2008
 <br> <br> 
<b>______________________________________________________________________________________________________________________________________________________________
<br>
Av. Juan de Dios Bátiz esquina Miguel Othón de Mendizábal, Col. Nueva Industrial Vallejo Delegación Gustavo A. Madero, C.P 07738
FAC Tel. 5729-6000, 5729-6300 Ext.57703, 57701, 57702, 57704, 57709, 57710. Correo electrónico: cocendi@ipn.mx.
   


    
<br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" value="Descargar"/> 
<br><br><br>


</div>


  </form>
        
       </div> 

</div>
</form>
