
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   
<BR><BR>Bienvenida Trabajadora Social<br><br>
Agregar nuevo reporte diario

<br><br>

<!-- -->





<table align="center">
  <tr>
    <th>Fecha</th>
    <th>Nombre</th>
    <th>Apellido paterno</th>
    <th>Apellido materno</th>
    <th>Grupo</th>
    <th>Observación</th>
    <th>Departamento</th>
    <th>Persona que reporta</th>
    <th>Encargada Dpto.</th>
  </tr>

  <tr>
    <td>
<div class="form-group">
     <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>
    </td>
    <td>
 <div class="form-group"><input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
         </div>  
    </td>
    <td>
     <div class="form-group"> <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
         </div>  </td>
      <td>
 <div class="form-group"><input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
         </div>  
      </td>
    <td>

        <div class="form-group">
         
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
        </div>
</td>
    <td>
     <div class="form-group"> <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
         </div>  
    </td>
      <td>

        <div class="form-group">
         
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="medico">Médico</option>
  <option value="trabajo">Trabajo social</option>
  <option value="nutricion">Nutrición</option>
  <option value="dentista">Dentista</option>
  <option value="psicologia">Psicología</option>
</select>
        </div>
      </td>
    <td> <div class="form-group"> <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
         </div>  </td>
    <td>
     <div class="form-group"> <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
         </div>  </td>
  </tr>
  
</table>
</div>

<br><br>



<br><br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" value="Agregar" />


<br><br><br></div>


  </form>
        
       </div> 

    </div>
</form>

