<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%=typeof title == 'undefined' ? 'TT-2016-B122' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/ttcss.css">
    <!--STYLES END-->
  </head>

  <body>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Conocenos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Instalaciones<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Área de juegos</a></li>
            <li><a href="#">Salón de usos múltiples </a></li>
            <li><a href="#">Comedor</a></li>
            <li class="divider"></li>
            <li><a href="#">Grupo de Lactantes I, II y III</a></li>
            <li><a href="#">Grupo Maternal I, II y III</a></li>
            <li><a href="#">Grupo Preescolar I, II y III</a></li>
            <li class="divider"></li>
            <li><a href="#">Pedagogía</a></li>
            <li><a href="#">Odontología</a></li>
            <li><a href="#">Servicio Médico</a></li>
          </ul>
        </li>
      </ul>
      
     <!-- iniciar sesion -->
            <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iniciar sesión</a>
              <ul id="login-dp" class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                <div class="row">
              <div class="col-md-12">
                <h4><b>Iniciar Sesión</b></h4>
                 <form id="ajax-login-form" class="form" role="form" method="post" action="login" accept-charset="UTF-8">
                    <div class="form-group">
                       <label class="sr-only" for="UserName">Usuario</label>
                       <input type="text" class="form-control" id="UserName" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="password">Contraseña</label>
                       <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
                    </div>
                 </form>
              </div>
           </div>
              </ul>
            </li>
          </ul>

          <!-- fin iniciar sesión-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      <%- body %>

      <footer class="container-fluid text-center">
        <p>Instituto Politécnico Nacional<br>
          D.R. Instituto Politécnico Nacional (IPN), Avenida Juan de Dios Bátiz esquina Miguel Othón de Mendizábal, Col. Nueva Industrial Vallejo Delegación Gustavo A. Madero, C.P 07738, Ciudad de México. Tel. 5729-6000, 5729-6300 Ext. 57701, 57702, 57703, 57704. Correo electrónico: cocendi@ipn.mx<br>
        </p>
      </footer>
<!--
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/easing.js"></script>
    <script src="/js/easy-responsive-tabs.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery.flexisel.js"></script>
    <script src="/js/jquery.gallery.js"></script>
    <script src="/js/jquery.glide.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.textFx.js"></script>
    <script src="/js/jquery.transit.js"></script>
    <script src="/js/jquery.vide.min.js"></script>
    <script src="/js/move-top.js"></script>
    <script src="/js/npm.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
