<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%=typeof title == 'undefined' ? 'TT-2016-B122' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/ttcss.css">
    <!--STYLES END-->
  </head>

  <body>
 

      <%- body %>

      <footer class="footer">
        <div class="container"></div>
      </footer>
<!--
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/customValidate.js"></script>
    <script src="/js/easing.js"></script>
    <script src="/js/easy-responsive-tabs.js"></script>
    <script src="/js/formdivided.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery.flexisel.js"></script>
    <script src="/js/jquery.gallery.js"></script>
    <script src="/js/jquery.glide.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.textFx.js"></script>
    <script src="/js/jquery.transit.js"></script>
    <script src="/js/jquery.vide.min.js"></script>
    <script src="/js/move-top.js"></script>
    <script src="/js/npm.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
