<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%=typeof title == 'undefined' ? 'TT-2016-B122' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/carousel.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/ttcss.css">
    <!--STYLES END-->
  </head>

  <body>
    
<!--
<div class="container-fluid">

      <div class="masthead">
        <nav class="navbar navbar-expand-md navbar-light menu rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Conócenos</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Centros</a>
              </li>
            </ul>

            <!-- iniciar sesion -->
            <!--
            <ul class="navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iniciar sesión</a>
              <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                <div class="col-lg-12">
                  <div class="text-center">
                    <h3><b>Iniciar Sesión</b></h3></div>
                  <form id="ajax-login-form" action="#" method="post" role="form" autocomplete="off">
                    <div class="form-group">
                      <label for="username">Usuario:</label>
                      <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="" autocomplete="off">
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña:</label>
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña" autocomplete="off">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
                  </form>
                </div>
              </ul>
            </li>
          </ul>

          </div>
        </nav>
      
    </div> -->
      <%- body %>

      <footer class="pie-pagina">
        <p>Instituto Politécnico Nacional<br>

D.R. Instituto Politécnico Nacional (IPN), Avenida Juan de Dios Bátiz esquina Miguel Othón de Mendizábal, Col. Nueva Industrial Vallejo Delegación Gustavo A. Madero, C.P 07738, Ciudad de México. Tel. 5729-6000, 5729-6300 Ext. 57701, 57702, 57703, 57704. Correo electrónico: cocendi@ipn.mx<br>
</p>-->
      </footer>
<!--
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.es.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/customValidate.js"></script>
    <script src="/js/easing.js"></script>
    <script src="/js/easy-responsive-tabs.js"></script>
    <script src="/js/formdivided.js"></script>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/jquery.flexisel.js"></script>
    <script src="/js/jquery.gallery.js"></script>
    <script src="/js/jquery.glide.js"></script>
    <script src="/js/jquery.magnific-popup.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.textFx.js"></script>
    <script src="/js/jquery.transit.js"></script>
    <script src="/js/jquery.vide.min.js"></script>
    <script src="/js/jspdf.js"></script>
    <script src="/js/jwplayer.compatibility.js"></script>
    <script src="/js/jwplayer.controls.js"></script>
    <script src="/js/jwplayer.core.controls.html5.js"></script>
    <script src="/js/jwplayer.core.controls.js"></script>
    <script src="/js/jwplayer.core.controls.polyfills.html5.js"></script>
    <script src="/js/jwplayer.core.controls.polyfills.js"></script>
    <script src="/js/jwplayer.core.js"></script>
    <script src="/js/jwplayer.js"></script>
    <script src="/js/locomote.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/move-top.js"></script>
    <script src="/js/npm.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/polyfills.base64.js"></script>
    <script src="/js/polyfills.intersection-observer.js"></script>
    <script src="/js/polyfills.promise.js"></script>
    <script src="/js/polyfills.vttrenderer.js"></script>
    <script src="/js/polyfills.webvtt.js"></script>
    <script src="/js/provider.airplay.js"></script>
    <script src="/js/provider.cast.js"></script>
    <script src="/js/provider.flash.js"></script>
    <script src="/js/provider.hlsjs.js"></script>
    <script src="/js/provider.html5.js"></script>
    <script src="/js/provider.shaka.js"></script>
    <script src="/js/provider.youtube.js"></script>
    <script src="/js/vttparser.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
