
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   
<BR><BR>Cámara de video

<br><br>

<!-- -->
Hijo 1<br><br>

 </div align="left">
   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
   <img src="images/foto.jpg" alt="" > &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp

<button class="button button3" onclick="location.href = 'link'">Nutrición</button>
 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">Sala de juegos</button>

 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<button class="button button3" onclick="location.href = 'link'">Sala de alimentación</button>

</div>

<br><br>


<br><br><br></div>


  </form>
        
       </div> 

    </div>
</form>

