<div class="nav-side-menu">
	<div class="brand">Bienvenida @TS</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
	        <div class="menu-list">
	  
	            <ul id="menu-content" class="menu-content collapse out">
	                <li  data-toggle="collapse" data-target="#repMens" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes mensuales<span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="repMens">
	                    <li><a href="/Trabajosocial/nuevoRepMens">Agregar reporte</a></li>
	                    <li><a href="/Trabajosocial/ReporteMensualTS">Ver reporte</a></li>
	                </ul>
	                <li  data-toggle="collapse" data-target="#repD" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes diarios<span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="repD">
	                    <li><a href="/Trabajosocial/nuevoRepDiarioTS">Agregar reporte</a></li>
	                    <li><a href="/Trabajosocial/ReporteDiarioTS">Ver reporte</a></li>
	                </ul>

	                <li  data-toggle="collapse" data-target="#Afacs" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Agregar FAC's <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="Afacs">
	                	<li><a href="/Trabajosocial/FAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
	                	<li><a href="/Trabajosocial/FAC13">FAC 13. Ficha de Reinscripción</a></li>
	                    <li><a href="/Trabajosocial/FAC14">FAC 14. Ficha de Identificación V 10</a></li>
	                    <li><a href="/Trabajosocial/FAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
	                    <li><a href="/Trabajosocial/FAC131">FAC 131. Carta Compromiso V 04</a></li>
	                    <li><a href="/Trabajosocial/FAC144">FAC 144. Ingreso en Trámite V00</a></li>
	                </ul>
	                <li  data-toggle="collapse" data-target="#Vfacs" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver FAC's <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="Vfacs">
	                	<li><a href="/Trabajosocial/VFAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
	                	<li><a href="/Trabajosocial/VFAC13">FAC 13. Ficha de Reinscripción</a></li>
	                    <li><a href="/Trabajosocial/VFAC14">FAC 14. Ficha de Identificación V 10</a></li>
	                    <li><a href="/Trabajosocial/VFAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
	                    <li><a href="/Trabajosocial/vFAC131">FAC 131. Carta Compromiso V 04</a></li>
	                    <li><a href="/Trabajosocial/VFAC144">FAC 144. Ingreso en Trámite V00</a></li>
	                </ul>
	            </ul>
	        </div>
	    </div>
  <div class="container-fluid contenido">
    <div class="row contenido-usr">
      <h3><b>INDICACIONES PARA LAS DERECHOHABIENTES TRABAJADORAS DE LA COORDINACIÓN DE
CENTROS DE DESARROLLO INFANTIL Y CENTROS DE DESARROLLO INFANTIL QUE TIENEN A SU
HIJO INSCRITO EN UN CENDI O EN EL CENTRO DE SU ADSCRIPCIÓN.</b></h3>
      
        

  
    
<div class="container col-md-offset-2" >
    
<br> 1. Entregar y recibir a su hijo en el filtro, cumpliendo con los horarios establecidos.
En el horario de salida deberá solicitar la entrega de su hijo al personal asignado en filtro, debiendo
mostrar diariamente la credencial proporcionada por el CENDI. <BR><BR><BR>
2. En relación a los asuntos relacionados con su hijo que puedan causarle incertidumbre, deberá dirigirse a la
Directora del CENDI, para su canalización y atención conjunta con el Área Técnica correspondiente, en
apego a los Lineamientos para la Operación de los Centros de Desarrollo Infantil del Instituto
Politécnico Nacional vigentes.<br><BR><BR>
3. Previa autorización de la Directora del CENDI la derechohabiente podrá participar en la clase abierta de su
hijo, sin afectar las funciones que le corresponden en el CENDI, ni las actividades organizadas para tal
evento. (aplica solo en caso de que su hijo (a) esté inscrito en el Centro de su adscripción). <br><BR><BR>
4. No hacer visitas especificas al grupo de su hijo, para observarlo, sin autorización de la Directora, ni a través
de terceros.<br><BR><BR>
5. No intervendrá en el trabajo técnico y educativo del personal, respetando la rutina diaria de trabajo en el
CENDI. <br><BR><BR>
6. Acatar las indicaciones de la Directora y/o personal técnico del CENDI, que sean necesarias para coadyuvar
al mejor desarrollo de su hijo, sobre todo las de tipo especializado.  <BR><BR><BR>
7. En el caso de incumplimiento con alguna de las anteriores indicaciones o incurrir en alguna falta que ponga
en riesgo la estabilidad de su hijo y/o del personal del CENDI se harán acreedoras a las siguientes
sanciones: <br><BR><BR>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspa) Dos amonestaciones verbales que deberán realizarse en presencia de algún integrante del Área Técnica y
la Representación Sindical. <br><BR><BR>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspb) La tercera amonestación será por escrito y deberá ser entregada en presencia de algún integrante del
Área Técnica y la Representación Sindical. <br><BR><BR>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspc) De incurrir por cuarta vez en cualquiera de las presentes indicaciones la Derechohabiente será
informada por escrito que se procederá al cambio de CENDI de su hijo.(aplica solo en caso de que su
hijo esté inscrito en el Centro de su adscripción).
.
  </div>
</div>
<form role="form" action="act130" method="post">
<input type="hidden" name="_csrf" value="<%= _csrf %>" />
<input type="submit" class="btn btn-info col-md-offset-6" value="Imprimir">
</form>        
</div>
