<div class="nav-side-menu">
  <div class="brand">Bienvenida @TS</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
          <div class="menu-list">
    
              <ul id="menu-content" class="menu-content collapse out">
                  <li  data-toggle="collapse" data-target="#repMens" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes mensuales<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="repMens">
                      <li><a href="/nuevoRepMens">Agregar reporte</a></li>
                      <li><a href="/ReporteMensualTS">Ver reporte</a></li>
                  </ul>
                  <li  data-toggle="collapse" data-target="#repD" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes diarios<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="repD">
                      <li><a href="/nuevoRepDiarioTS">Agregar reporte</a></li>
                      <li><a href="/ReporteDiarioTS">Ver reporte</a></li>
                  </ul>

                  <li  data-toggle="collapse" data-target="#Afacs" class="collapsed active">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Agregar FAC's <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="Afacs">
                    <li><a href="/FAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
                    <li><a href="/FAC13">FAC 13. Ficha de Reinscripción</a></li>
                      <li><a href="/FAC14">FAC 14. Ficha de Identificación V 10</a></li>
                      <li class="active"><a href="/FAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
                      <li><a href="/FAC131">FAC 131. Carta Compromiso V 04</a></li>
                      <li><a href="/FAC144">FAC 144. Ingreso en Trámite V00</a></li>
                  </ul>
                  <li  data-toggle="collapse" data-target="#Vfacs" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver FAC's <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="Vfacs">
                    <li><a href="/VFAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
                    <li><a href="/VFAC13">FAC 13. Ficha de Reinscripción</a></li>
                      <li><a href="/VFAC14">FAC 14. Ficha de Identificación V 10</a></li>
                      <li><a href="/VFAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
                      <li><a href="/vFAC131">FAC 131. Carta Compromiso V 04</a></li>
                      <li><a href="/VFAC144">FAC 144. Ingreso en Trámite V00</a></li>
                  </ul>
              </ul>
          </div>
      </div>
<div class="container-fluid contenido">
    <div class="row contenido-usr">
      <h3><b>Indicaciones para las derechohabientes trabajadoras de la Coordinación de Centros de Desarrollo Infantil y Centros de Desarrollo Infantil que tienen a su hijo inscrito en un CENDI o en el Centro de su Adscripción.</b></h3>
      
      <p class="col-xs-6 col-md-offset-2"><b>Instrucciones:</b> Favor de ingresar los campos.</p>
      <div class="col-xs-6 col-md-offset-3">
      <form class="" method="post" action="#">
        <div class="form-group">
              <label for="fecha" class="cols-sm-2 control-label">Fecha:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fecha" id="fecha" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Guardar</a>
            </div>
          </form>
        </div>
      </div>
    </div>


