
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>


    <div class="section1">&nbsp&nbsp&nbspFicha de reinscripción </div>
        
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico-->

        <form class="form-inline">

         <div class="inner-wrap">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group"> Ciclo escolar: <input type="text" name="cicloescolar" placeholder="" required pattern="[0-9]{4}-[0-9]{4}" title="Porfavor siga el siguiente formato 1111-1111">
         </div>  
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp









<form action="#" method="post" id="subearchivos">
    <input type="file" id="archivos" name="archivos" />
    <div id="vista_previa"><!-- miniatura -->Vista previa</div>
    
        <input type="button" value="cancelar"  style="display: none;" onclick="cancela('subearchivos');" id="resetear" />
</form>
    <script>
    if (window.FileReader) {
      function seleccionArchivo(evt) {
        var files = evt.target.files;
        var f = files[0];
        var leerArchivo = new FileReader();
        document.getElementById('resetear').style.display= 'block';
          leerArchivo.onload = (function(elArchivo) {
            return function(e) {
              document.getElementById('vista_previa').innerHTML = '<img src="'+ e.target.result +'" alt="" width="250" />';
            };
          })(f);
    
          leerArchivo.readAsDataURL(f);
      }
     } else {
      document.getElementById('vista_previa').innerHTML = "El navegador no soporta vista previa";
    }
    
      document.getElementById('archivos').addEventListener('change', seleccionArchivo, false);
      
      function cancela(elForm){
document.getElementById(elForm).reset();
if (window.FileReader) {
document.getElementById('vista_previa').innerHTML = "Vista Previa";
}else{
document.getElementById('vista_previa').innerHTML = "El navegador no soporta vista previa";
}
        document.getElementById('resetear').style.display= 'none';
      }
    </script>
  














<BR><BR>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
CENDI CLEMENTINA BATALLA DE BASOLLS
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Folio: <input type="number" id="años" name="años" required pattern="[0-9 ]+[A-Z ]+[0-9 ]+[A-Z ]">
    <span class="validity"></span>

<!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO-->
  </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Grupo:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
        </div>

<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<br><br>
<div class="section">&nbsp&nbsp&nbspEl formulario se deberá llenar con letras mayúsculas</div>
<br><br>
<div class="section">&nbsp&nbsp&nbspDatos del niño</div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group"> Nombre: <input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <div class="form-group">
         Apellido paterno: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group">
         Apellido materno: <input type="text" name="materno" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
         CURP: <input type="text" name="curp" placeholder=""
                  minlength="18" maxlength="18" required pattern="[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{6}[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[A-Z0-9]+" title="Siga el siguiente formato ABCD123456MDFRRC0O">
        </div>
<br><br>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

<div class="form-group"> Lugar de nacimiento: <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="30" required pattern="[A-Z]+ ">
         </div> 

 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Grupo sanguíneo:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="a+">A+</option>
  <option value="a-">A-</option>
  <option value="b+">B+</option>
  <option value="b-">B-</option>
  <option value="ab+">AB+</option>
  <option value="ab-">AB-</option>
  <option value="o+">O+</option>
  <option value="o-">O-</option>
</select>
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group"> RH: <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="30" required pattern="[A-Z ]+ [0-9 ] ">
         </div> 

<BR> &nbsp&nbsp &nbsp&nbsp
<div class="form-group">
       <br>  Domicilio particular
    Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>
<BR>
         &nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  &nbsp&nbsp &nbsp&nbsp <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel (10 díg):  <input type="text" id="tel" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="ext" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

<!--  *************************************************  -->
 
<!--   DATOS DEL DERECHOHABIENTE    -->

    <br><br> <div class="section">&nbsp&nbsp&nbspDatos del derechohabiente</div>

         <div class="form-group"> Nombre: <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        <div class="form-group">
         CURP: <input type="text" name="correopapa" placeholder=""
                  minlength="18" maxlength="18" required pattern="[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{6}[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[A-Z0-9]+" title="Siga el siguiente formato ABCD123456MDFRRC0O">
        </div>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group"> Lugar de nacimiento: <input type="text" name="nombreidenti" placeholder=""
                  minlength="3" maxlength="30" required pattern="[A-Z]+ ">
         </div> 

 
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->
   <div class="form-group">
       <br>  Domicilio particular
    Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel (10 díg):  <input type="text" id="tel" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="ext" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="cel" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Ocupación: <input type="text" name="ocupacion" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Categoría: <input type="text" name="adscripcion" placeholder=""
                  minlength="0" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

<br>

 

   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Adscripción: <input type="text" name="adscripcion" placeholder=""
                  minlength="1" maxlength="50" required pattern="[A-Z 0-9]">
        </div>


           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Número de empleado: <input type="text" name="adscripcion" placeholder=""
                  minlength="1" maxlength="10" required pattern="[A-Z 0-9]+[A-Z0-9]+">
        </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>

<br>


<div class="form-group">
         <br>Escolaridad:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
        </div>






&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class="form-group">
        <br> Estado civil:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Soltero</option>
  <option value="saab">Casado</option>
  <option value="vw">Divorciado</option>
  <option value="vw">Viudo</option>
  <option value="vw">Separado</option>
  <option value="vw">Unión libre</option>
</select>
        </div>


        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
        <br> Correo electrónico: <input type="email" name="nacimiento" placeholder="">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Número de empleado: <input type="text" name="paternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z ]+[0-9 ]-">
        </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
        <form action="/action_page.php">
<input type="checkbox" name="vehicle1" value="Bike">Trabajo por la tarde

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="checkbox" name="vehicle2" value="Car">No trabajo por la tarde 

<BR>

</form> 
</div>
<br>
<div class="form-group">
       <br>  Domicilio del trabajo Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder="" minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>



&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Lugar de trabajo: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>


&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>
 



<!-- DATOS DEL PADRE             -->
   <br><br> <div class="section">&nbsp&nbsp&nbspDatos del padre</div>

<div class="form-group"> Nombre: <input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  &nbsp&nbsp
<div class="form-group">
         Apellido paterno: <input type="text" name="paternot" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

       &nbsp&nbsp <div class="form-group">
         Apellido materno: <input type="text" name="maternot" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>


     
      &nbsp&nbsp<div class="form-group">
         Estado civil:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Soltero</option>
  <option value="saab">Casado</option>
  <option value="vw">Divorciado</option>
  <option value="vw">Viudo</option>
  <option value="vw">Separado</option>
  <option value="vw">Unión libre</option>
</select>
        </div>




 &nbsp&nbsp <div class="form-group">
    Tel trabajo(10 díg):  <input type="text" id="telt" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp  <div class="form-group">
     Ext:  <input type="text" id="extt" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


<br>

<div class="form-group">
       <br>  Domicilio particular
    Calle: <input type="text" name="callet" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noextt" name="noextt" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="nointt" name="nointt" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="colt" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="delt" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfedt" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cpt" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel trabajo(10 díg):  <input type="text" id="telt" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="extt" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="celt" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Ocupación: <input type="text" name="ocupaciont" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

      


  &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>Lugar de trabajo: <input type="text" name="lugtrabajot" placeholder=""
                  minlength="4" maxlength="60" required pattern="[A-Z 0-9]">
        </div>
  &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp
        <div class="form-group"> Lugar de nacimiento: <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="30" required pattern="[A-Z]+ ">
         </div> 

 
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
         <br>Escolaridad:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
        </div>


 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>

<br>
<br><br><div class="section">&nbsp&nbsp&nbspPersona que, en caso necesario, puede recoger al niño(a). </div>
<br>



<div class="form-group"> Nombre: <input type="text" name="nombrepa" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternopa" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

       &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternopa" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
       Entidad o lugar de nacimiento: <input type="text" name="lugtrabajopa" placeholder=""
                  minlength="1" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>
  <br> <br>
      <div class="form-group">
         Parentezco con el niño:

          <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="volvo">Padre</option>
  <option value="saab">Madre</option>
  <option value="vw">Abuelo</option>
  <option value="vw">Abuela</option>
  <option value="vw">Tío</option>
  <option value="vw">Tía</option>
  <option value="vw">Tutor</option>
</select>
        </div>


&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
<div class="form-group">
       Ocupación: <input type="text" name="ocupacionpa" placeholder=""
                  minlength="1" maxlength="20" required pattern="[A-Z 0-9]">
        </div>



&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Escolaridad:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Primaria</option>
  <option value="saab">Secundaria</option>
  <option value="vw">Preparatoria</option>
  <option value="vw">Universidad</option>
  <option value="vw">Maestria/Posgrado</option>
  <option value="vw">Doctorado</option>
</select>
        </div>



        &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group">
         Estado civil:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="volvo">Soltero</option>
  <option value="saab">Casado</option>
  <option value="vw">Divorciado</option>
  <option value="vw">Viudo</option>
  <option value="vw">Separado</option>
  <option value="vw">Unión libre</option>
</select>
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
     Tel (10 díg):  <input type="text" id="telpa" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
     <br>Ext:  <input type="text" id="extpa" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>




&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp&nbsp&nbsp&nbsp &nbsp
<div class="form-group">
     <br>Cel (10 díg):  <input type="text" id="telpa" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>
  

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>  Domicilio del trabajo Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
     &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder="" minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>




&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
       <br>  Domicilio Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    <div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

         &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder="" minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>
  <br> 
 <br><br> <div class="section">&nbsp&nbsp&nbspFotografías de padres y persona autorizada para recoger al niño(a).</div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Derechohabiente:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Padre:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Persona autorizada:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>







<br><br><br>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Ciudad de México a: <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

<br><br><br><br>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
Certificado QS-307-MX / ISO 9001:2008
 <br> <br> 
<b>______________________________________________________________________________________________________________________________________________________________
<br>
Av. Juan de Dios Bátiz esquina Miguel Othón de Mendizábal, Col. Nueva Industrial Vallejo Delegación Gustavo A. Madero, C.P 07738
FAC Tel. 5729-6000, 5729-6300 Ext.57703, 57701, 57702, 57704, 57709, 57710. Correo electrónico: cocendi@ipn.mx.
<br><br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" /> 


</div>


  </form>
        
       </div> 

</div>
</form>
