<div class="nav-side-menu">
  <div class="brand">Bienvenida @TS</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
          <div class="menu-list">
    
              <ul id="menu-content" class="menu-content collapse out">
                  <li  data-toggle="collapse" data-target="#repMens" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes mensuales<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="repMens">
                      <li><a href="/Trabajosocial/nuevoRepMens">Agregar reporte</a></li>
                      <li><a href="/Trabajosocial/ReporteMensualTS">Ver reporte</a></li>
                  </ul>
                  <li  data-toggle="collapse" data-target="#repD" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes diarios<span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="repD">
                      <li><a href="/Trabajosocial/nuevoRepDiarioTS">Agregar reporte</a></li>
                      <li><a href="/Trabajosocial/ReporteDiarioTS">Ver reporte</a></li>
                  </ul>

                  <li  data-toggle="collapse" data-target="#Afacs" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Agregar FAC's <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="Afacs">
                    <li><a href="/Trabajosocial/FAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
                    <li><a href="/Trabajosocial/FAC13">FAC 13. Ficha de Reinscripción</a></li>
                      <li><a href="/Trabajosocial/FAC14">FAC 14. Ficha de Identificación V 10</a></li>
                      <li><a href="/Trabajosocial/FAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
                      <li><a href="/Trabajosocial/FAC131">FAC 131. Carta Compromiso V 04</a></li>
                      <li><a href="/Trabajosocial/FAC144">FAC 144. Ingreso en Trámite V00</a></li>
                  </ul>
                  <li  data-toggle="collapse" data-target="#Vfacs" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver FAC's <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="Vfacs">
                    <li><a href="/Trabajosocial/VFAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
                    <li><a href="/Trabajosocial/VFAC13">FAC 13. Ficha de Reinscripción</a></li>
                      <li><a href="/Trabajosocial/VFAC14">FAC 14. Ficha de Identificación V 10</a></li>
                      <li><a href="/Trabajosocial/VFAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
                      <li><a href="/Trabajosocial/vFAC131">FAC 131. Carta Compromiso V 04</a></li>
                      <li><a href="/Trabajosocial/VFAC144">FAC 144. Ingreso en Trámite V00</a></li>
                  </ul>
              </ul>
          </div>
      </div>
  <div class="container-fluid contenido">
    <div class="row contenido-usr">
      <h3><b>Aviso de Suspensión por Enfermedad</b></h3>
      <p class="col-xs-6 col-md-offset-2"><b>Instrucciones:</b> Favor de ingresar los campos.</p>
      <div class="stepwizard col-md-offset-3">
          <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step">
              <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
              <p>Datos del niño(a)</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
              <p>Datos derechohabiente</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
              <p>Datos del padre</p>
            </div>
             <div class="stepwizard-step">
              <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
              <p>Datos persona autorizada</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
              <p>Economía familiar I.</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-6" type="button" class="btn btn-default btn-circle" disabled="disabled">6</a>
              <p>Economía familiar II.</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-7" type="button" class="btn btn-default btn-circle" disabled="disabled">7</a>
              <p>Estructura familiar.</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-8" type="button" class="btn btn-default btn-circle" disabled="disabled">8</a>
              <p>Dinámica familiar.</p>
            </div>
            <div class="stepwizard-step">
              <a href="#step-9" type="button" class="btn btn-default btn-circle" disabled="disabled">9</a>
              <p>Ingreso al CENDI</p>
            </div>
          </div>
         </div>
         <!-- inicia el form fac 11 -->
    
          <!-- paso 1. Datos del niño(a) -->
	<form role="form" action="/Trabajosocial/guardardatos" method="POST">
    <div class="row setup-content" id="step-1">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Datos del niño(a)</h3>
          
          
          <!--<div class="form-group col-xs-6 row-eq-height">
              <label for="fecha" class="control-label">Fecha:</label>
              <div class="cols-sm-10">
                <div class="input-group ">
                  <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fecha" id="fecha" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>-->
          <div class="form-group col-xs-6" align="center">
              <label for="fecha" id="foto" class="control-label">Fotografía del niño:</label>
              <img id="image" width="140" height="140" />
              <div class="cols-sm-10">
                <div class="input-group">
                  
                  <input type="file" name="imagennino" id="upload" value="Fotografía del niño">
                <script>
                  document.getElementById("upload").onchange = function() {
                  var reader = new FileReader(); //instanciamos el objeto de la api FileReader
                  reader.onload = function(e) {
                  //en el evento onload del FileReader, asignamos el path a el src del elemento imagen de html
                  document.getElementById("image").src = e.target.result;
                  document.getElementById("foto").innerHTML = "";
                  };
                  // read the image file as a data URL.
                  reader.readAsDataURL(this.files[0]);
                  };
                </script>
                </div>
              </div>
            </div>
           <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Nombre:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ninoName" name="ninoName" required="required" class="form-control" placeholder="Ingrese el nombre del niño(a)" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Apellido Paterno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ninoapaterno" name="ninoapaterno" required="required" class="form-control" placeholder="Ingrese Apellido Paterno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Apellido Materno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ninoamaterno" name="ninoamaterno" required="required" class="form-control" placeholder="Ingrese Apellido Materno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
            <div class="form-group col-xs-4">
              <label for="fecha" class="cols-sm-2 control-label">Fecha de nacimiento:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="ninofnac" id="ninofnac" required="required" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" min="2010-01-01"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>
            <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Años</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                <select class="form-control" name="ninoanos">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="ceroa">0</option>
                  <option value="unoa">1</option>
                  <option value="dosa">2</option>
                  <option value="tresa">3</option>
                  <option value="cuatroa">4</option> 
                  <option value="cincoa">5</option>
                  <option value="seisa">6</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Meses</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                <select class="form-control" name="ninomeses">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="cero">0</option>
                  <option value="uno">1</option>
                  <option value="dos">2</option>
                  <option value="tres">3</option>
                  <option value="cuatro">4</option> 
                  <option value="cinco">5</option>
                  <option value="seis">6</option>
                  <option value="siete">7</option>
                  <option value="ocho">8</option> 
                  <option value="nueve">9</option>
                  <option value="diez">10</option>
                  <option value="once">11</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Grupo a cursar:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <select class="form-control" id="grupo" name="grupo">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="Maternal I">Maternal I</option>
                  <option value="Maternal II">Maternal II</option>
                  <option value="Maternal III">Maternal III</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Lugar de hermano</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                <select class="form-control" name="lehermanos">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="primero">Primero</option>
                  <option value="segundo">Segundo</option>
                  <option value="tercero">Tercero</option>
                  <option value="cuarto">Cuarto</option>
                  <option value="quinto">Quinto</option> 
                  <option value="sexto">Sexto</option>
                  <option value="septimo">Septimo</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Calle:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="calle" name="ncalle" required="required" class="form-control" placeholder="Calle" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Exterior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noe" name="nnoe" required="required" class="form-control" placeholder="No. Exterior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Interior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noi" name="nnoi" class="form-control" placeholder="No. Interior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">Código Postal:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="cp" name="ncp" required="required" class="form-control" placeholder="C.P." minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Delegación o Municipio:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="delegacion" name="ndelegacion" required="required" class="form-control" placeholder="Delegación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Entidad Federativa:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="estado" name="nestado" required="required" class="form-control" placeholder="Entidad Federativa" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Colonia:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="colonia" name="ncolonia" required="required" class="form-control" placeholder="Colonia" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Teléfono Fijo:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="telefono" name="ntelefono" required="required" class="form-control" placeholder="Teléfono" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Teléfono Celular:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="celular" name="ncelular" required="required" class="form-control" placeholder="Celular" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    <!-- Termina paso 1-->

    <!-- Paso 2. Datos derechohabiente-->

    <div class="row setup-content" id="step-2">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Datos del derechohabiente</h3>
          <div class="form-group col-xs-6" align="center">
              <label for="fecha" id="foto2" class="control-label">Fotografía del Derechohabiente:</label>
              <img id="image2" width="140" height="140" />
              <div class="cols-sm-10">
                <div class="input-group">
                  
                  <input type="file" name="imagenderecho" id="upload2" value="Fotografía del Derechohabiente"/>
                <script>
                  document.getElementById("upload2").onchange = function() {
                  var reader = new FileReader(); //instanciamos el objeto de la api FileReader
                  reader.onload = function(e) {
                  //en el evento onload del FileReader, asignamos el path a el src del elemento imagen de html
                  document.getElementById("image2").src = e.target.result;
                  document.getElementById("foto2").innerHTML = "";
                  };
                  // read the image file as a data URL.
                  reader.readAsDataURL(this.files[0]);
                  };
                </script>
                </div>
              </div>
            </div>
            <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Nombre:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="DerName" name="DerName" required="required" class="form-control" placeholder="Ingrese el nombre del Derechohabiente" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Apellido Paterno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="Derapaterno" name="Derapaterno" required="required" class="form-control" placeholder="Ingrese Apellido Paterno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Apellido Materno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="Deramaterno" name="Deramaterno" required="required" class="form-control" placeholder="Ingrese Apellido Materno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Lugar de nacimiento:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="derlnac" name="derlnac" required="required" class="form-control" placeholder="Lugar de nacimiento" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-3">
            <label class="cols-sm-2 control-label">Fecha de nacimiento:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                <input  type="date" id="derfnac" name="derfnac" required="required" class="form-control" placeholder="dd/mm/aaaa" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-3">
            <label class="cols-sm-2 control-label">Estado civil:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                <select class="form-control" id="ecivil" name="ecivil">
                  <option disabled selected value> -- Seleccione -- </option>
                 <option value="solterop">Soltero</option>
                  <option value="casadop">Casado</option>
                  <option value="divorciadop">Divorciado</option>
                  <option value="viudop">Viudo</option>
                  <option value="separadop">Separado</option>
                  <option value="unionp">Unión libre</option>
                </select>

              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Ocupación:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ocupacion" name="ocupacion" required="required" class="form-control" placeholder="Ocupación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-8">
            <label class="cols-sm-2 control-label">Adscripción:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-shield" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="adscripcion" name="adscripcion" required="required" class="form-control" placeholder="Adscripción" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <label class="control-label col-xs-12">Dirección del trabajo:</label>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Calle:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="called" name="called" required="required" class="form-control" placeholder="Calle" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Exterior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noed" name="noed" required="required" class="form-control" placeholder="No. Exterior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Interior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noid" name="noid" class="form-control" placeholder="No. Interior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">Código Postal:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="cpd" name="cpd" required="required" class="form-control" placeholder="C.P." minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Delegación o Municipio:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="delegaciond" name="delegaciond" required="required" class="form-control" placeholder="Delegación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Entidad Federativa:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="estadod" name="estadod" required="required" class="form-control" placeholder="Entidad Federativa" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Colonia:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="coloniad" name="coloniad" required="required" class="form-control" placeholder="Colonia" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Teléfono Fijo:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="telefonod" name="telefonod" required="required" class="form-control" placeholder="Teléfono" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Teléfono Celular:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="celulard" name="celulard" required="required" class="form-control" placeholder="Celular" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Horario:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="horariod" name="horariod" required="required" class="form-control" placeholder="Horario" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Escolaridad:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="escolaridadd" name="escolaridadd" required="required" class="form-control" placeholder="Escolaridad" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div><!-- Fin paso 2-->
    <!-- Inicio paso 3. Datos del padre-->
	
    <div class="row setup-content" id="step-3">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Datos del padre</h3>
          <div class="form-group col-xs-6" align="center">
              <label for="fecha" id="foto3" class="control-label">Fotografía del Padre:</label>
              <img id="image3" width="140" height="140" />
              <div class="cols-sm-10">
                <div class="input-group">
                  
                  <input type="file" name="imagenpadre" id="upload3" value="Fotografía del Derechohabiente"/>
                <script>
                  document.getElementById("upload3").onchange = function() {
                  var reader = new FileReader(); //instanciamos el objeto de la api FileReader
                  reader.onload = function(e) {
                  //en el evento onload del FileReader, asignamos el path a el src del elemento imagen de html
                  document.getElementById("image3").src = e.target.result;
                  document.getElementById("foto3").innerHTML = "";
                  };
                  // read the image file as a data URL.
                  reader.readAsDataURL(this.files[0]);
                  };
                </script>
                </div>
              </div>
            </div>
           <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Nombre:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="nombret" name="nombret" required="required" class="form-control" placeholder="Ingrese nombre" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Apellido Paterno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="apaternot" name="apaternot" required="required" class="form-control" placeholder="Ingrese Apellido Paterno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Apellido Materno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="amaternot" name="amaternot" required="required" class="form-control" placeholder="Ingrese Apellido Materno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Lugar de nacimiento:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="lnact" name="lnact" required="required" class="form-control" placeholder="Lugar de nacimiento" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-3">
            <label class="cols-sm-2 control-label">Fecha de nacimiento:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                <input  type="date" id="fnact" name="fnact" required="required" class="form-control" placeholder="dd/mm/aaaa" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-3">
            <label class="cols-sm-2 control-label">Estado civil:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                <select class="form-control" id="ecivilt" name="ecivilt">
                  <option disabled selected value> -- Seleccione -- </option>
                 <option value="solterop">Soltero</option>
                  <option value="casadop">Casado</option>
                  <option value="divorciadop">Divorciado</option>
                  <option value="viudop">Viudo</option>
                  <option value="separadop">Separado</option>
                  <option value="unionp">Unión libre</option>
                </select>

              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Ocupación:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ocupaciont" name="ocupaciont" required="required" class="form-control" placeholder="Ocupación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-8">
            <label class="cols-sm-2 control-label">Lugar de trabajo:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-shield" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ltrabajo" name="ltrabajo" required="required" class="form-control" placeholder="Lugar de trabajo" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <label class="control-label col-xs-12">Dirección del trabajo:</label>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Calle:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="callet" name="callet" required="required" class="form-control" placeholder="Calle" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Exterior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noet" name="noet" required="required" class="form-control" placeholder="No. Exterior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Interior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noit" name="noit" class="form-control" placeholder="No. Interior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">Código Postal:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="cpt" name="cpt" required="required" class="form-control" placeholder="C.P." minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Delegación o Municipio:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="delegaciont" name="delegaciont" required="required" class="form-control" placeholder="Delegación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Entidad Federativa:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="estadot" name="estadot" required="required" class="form-control" placeholder="Entidad Federativa" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Colonia:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="coloniat" name="coloniat" required="required" class="form-control" placeholder="Colonia" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Teléfono Fijo:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="telefonot" name="telefonot" required="required" class="form-control" placeholder="Teléfono" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Teléfono Celular:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="celulart" name="celulart" required="required" class="form-control" placeholder="Celular" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Horario:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="horariot" name="horariot" required="required" class="form-control" placeholder="Horario" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Escolaridad:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="escolaridadt" name="escolaridadp" required="required" class="form-control" placeholder="Escolaridad" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    <!--inicio paso 4 -->
	    	
    <div class="row setup-content" id="step-4">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Persona Autorizada para recoger al niño</h3>
          <div class="form-group col-xs-6" align="center">
              <label for="fecha" id="foto4" class="control-label">Fotografía de la Persona Autorizada:</label>
              <img id="image4" width="140" height="140" />
              <div class="cols-sm-10">
                <div class="input-group">
                  
                  <input type="file" name="imagenpersonaauth" id="upload4" value="Fotografía de la persona autorizadas"/>
                <script>
                  document.getElementById("upload4").onchange = function() {
                  var reader = new FileReader(); //instanciamos el objeto de la api FileReader
                  reader.onload = function(e) {
                  //en el evento onload del FileReader, asignamos el path a el src del elemento imagen de html
                  document.getElementById("image4").src = e.target.result;
                  document.getElementById("foto4").innerHTML = "";
                  };
                  // read the image file as a data URL.
                  reader.readAsDataURL(this.files[0]);
                  };
                </script>
                </div>
              </div>
            </div>
           <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Nombre:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="nombreAut" name="nombreAut" required="required" class="form-control" placeholder="Ingrese nombre" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Apellido Paterno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="apaternoAut" name="apaternoAut" required="required" class="form-control" placeholder="Ingrese Apellido Paterno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Apellido Materno:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="amaternoAut" name="amaternoAut" required="required" class="form-control" placeholder="Ingrese Apellido Materno" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Parentesco con el niño:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-adress-card-o" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="parentesco" name="parentesco" required="required" class="form-control" placeholder="Ingrese Parentesco" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Lugar de nacimiento:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="lnacAut" name="lnacAut" required="required" class="form-control" placeholder="Lugar de nacimiento" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Estado civil:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-card-o" aria-hidden="true"></i></span>
                <select class="form-control" id="ecivilAut" name="ecivilAut">
                  <option disabled selected value> -- Seleccione -- </option>
                 <option value="solterop">Soltero</option>
                  <option value="casadop">Casado</option>
                  <option value="divorciadop">Divorciado</option>
                  <option value="viudop">Viudo</option>
                  <option value="separadop">Separado</option>
                  <option value="unionp">Unión libre</option>
                </select>

              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Ocupación:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ocupacionAut" name="ocupacionAut" required="required" class="form-control" placeholder="Ocupación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Escolaridad:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="escolaridadAut" name="escolaridadAut" required="required" class="form-control" placeholder="Escolaridad" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Lugar de trabajo:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-shield" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="ltrabajoAut" name="ltrabajoAut" required="required" class="form-control" placeholder="Lugar de trabajo" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Horario:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="horarioAut" name="horarioAut" required="required" class="form-control" placeholder="Horario" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
           <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Teléfono Fijo:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="telefonoAut" name="telefonoAut" required="required" class="form-control" placeholder="Teléfono" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Teléfono Celular:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="celularAut" name="celularAut" required="required" class="form-control" placeholder="Celular" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <label class="control-label col-xs-12">Dirección del trabajo:</label>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">Calle:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="calleAut" name="calleAut" required="required" class="form-control" placeholder="Calle" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Exterior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noeAut" name="noeAut" required="required" class="form-control" placeholder="No. Exterior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">No. Interior:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="noiAut" name="noiAut" class="form-control" placeholder="No. Interior" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-2">
            <label class="cols-sm-2 control-label">Código Postal:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="cpAut" name="cpAut" required="required" class="form-control" placeholder="C.P." minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Delegación o Municipio:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="delegacionAut" name="delegacionAut" required="required" class="form-control" placeholder="Delegación" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Entidad Federativa:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="estadoAut" name="estadoAut" required="required" class="form-control" placeholder="Entidad Federativa" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="cols-sm-2 control-label">Colonia:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" id="coloniaAut" name="coloniaAut" required="required" class="form-control" placeholder="Colonia" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>
         
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    
	<!--fin paso 4 -->

	<!--inicia paso 5-->
    <div class="row setup-content" id="step-5">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Economía familiar</h3>
          
          <label class="col-xs-6 control-label">Ingresos Mensuales:</label> 
          <label class="col-xs-6 control-label">Egresos Mensuales:</label>
           <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Padre:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="ingP" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Alimentación:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egAli" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Madre:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="ingM" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Renta o Predial:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egRen" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Hijos:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="ingH" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Agua:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egAgua" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Otros:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="ingO" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Luz:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egLuz" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Total:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="ingT" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 row-eq-height">
            <label class="control-label col-xs-2">Gas:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egGas" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Ropa:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egRopa" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Transporte:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egTrans" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Medicinas:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egMed" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Ayuda a Familiares:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egAy" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Diversiones:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egDiv" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Teléfono:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egTel" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Otros:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egOtros" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6 col-md-offset-6 row-eq-height">
            <label class="control-label col-xs-2">Total:</label>
            <div class="col-xs-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></span>
                <input type="number" name="egTotal" class="form-control" placeholder="$0.00" required pattern="[0-9]+"/>
              </div>
            </div>
          </div>
          
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    <!-- Termina paso 5-->
	
    <div class="row setup-content" id="step-6">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Economía familiar II</h3>



<label class="cols-xs-12">Tipo de vivienda:</label>

<div class="form-group">

<label class="col-xs-2 radio-inline"><input type="radio" name="tipoV" value="casaSola">Casa sola</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tipoV" value="condominio">Condominio</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tipoV" value="departamento">Departamento</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tipoV" value="vecindad">Vecindad</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tipoV" value="otravivienda">Otra</label>
</div>
</br>

<label class="cols-xs-12">Tenencia:</label>

<div class="form-group">

<label class="col-xs-2 radio-inline"><input type="radio" name="tenencia" value="propia">Propia</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tenencia" value="prestada">Prestada</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tenencia" value="credito">A crédito</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="tenencia" value="rentada">Rentada</label>
</div>
</br>

<label class="cols-xs-12 control-label">Área:</label>

<div class="form-group">

<label class="col-xs-2 radio-inline"><input type="radio" name="area" value="urbana">Urbana</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="area" value="suburbana">Suburbana</label>
<label class="col-xs-2 radio-inline"><input type="radio" name="area" value="rural">A Rural</label>
</div>
</br>

 <div class="form-group">
            <label class="cols-xs-12 control-label">Condiciones materiales del inmueble:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-cog" aria-hidden="true"></i></span>
              <textarea name="condiciones" cols="80" rows="2" placeholder="Ingrese en que condiciones se encuentra el inmueble"></textarea>
              </div>
            </div>
          </div> 
          

          <div class="form-group">
            <label class="cols-sm-2 control-label">Servicios con los que cuenta la vivienda:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
              <textarea name="servicios" cols="80" rows="2" placeholder="Ingrese los servicios con los que cuenta la vivienda"></textarea>
              </div>
            </div>
          </div>  
 <div class="form-group">
            <label class="cols-sm-2 control-label">Descripción de la vivienda:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
              <textarea name="descripcion" cols="80" rows="2" placeholder="Describa la vivienda"></textarea>
              </div>
            </div>
          </div> 

          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    
	<!--paso 7 -->
<div class="row setup-content" id="step-7">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Estructura familiar</h3>



 <div class="form-group">

            <label class="cols-sm-2 control-label">Datos de las personas que conviven con el niño frecuentemente</label>
            <label class="cols-sm-2 control-label">Nombre:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" name="nombrepcnf" required="required" class="form-control" placeholder="Ingrese el nombre de la persona" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>


           
         
 


   <div>
    <div style="float:left;width: 45%;">
      
      <label class="cols-sm-2 control-label">Edad:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                <input type="number"  pattern="[0-9]{10}" name="edadpcnf" required="required" class="form-control" placeholder="10 dígitos" />
              </div>
            </div>




          </div>
    <div style="float:right;width: 45%;">
      

     
            
            <label class="cols-sm-2 control-label">Parentezco con el niño:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-handshake-o" aria-hidden="true"></i></span>
                <select class="form-control" id="ninoName" name="parentescopcnf">
             <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="padrepc">Padre</option>
  <option value="madrepc">Madre</option>
  <option value="abuelopc">Abuelo</option>
  <option value="abuelapc">Abuela</option>
  <option value="tiopc">Tío</option>
  <option value="tiapc">Tía</option>
  <option value="tutorpc">Tutor</option>
</select>

            </div>
          </div>  

          

    </div>    
</div>
<div style="clear:both"></div>




<div>
    <div style="float:left;width: 45%;">
      
       <label class="cols-sm-2 control-label">&nbsp Ocupación:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" name="ocupacionpcnf" required="required" class="form-control" placeholder="Ingresa ocupación" minlength="2" maxlength="50" />
              </div>
          </div>





          </div>
    <div style="float:right;width: 49%;">
      

      <label class="cols-sm-2 control-label">Escolaridad:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" name="escolaridadpcnf" required="required" class="form-control" placeholder="Ingresa escolaridad" minlength="2" maxlength="50" />
              </div>
            </div>
            
          

    </div>    
</div>
<div style="clear:both"></div>




<div class="form-group">
            <label class="cols-sm-2 control-label">Servicio médico</label> <br>

ISSTE: <input type="checkbox" name="isste" value="">
&nbsp&nbsp&nbsp&nbsp&nbspIMSS:<input type="checkbox" name="imss" value="">

 &nbsp&nbsp&nbsp&nbsp&nbspParticular:<input type="checkbox" name="particular" value="">

<br><br>
 
 &nbsp&nbsp&nbsp&nbsp&nbspOtra <input type="text" name="seviciomedico">
<br><br>
</div>



           <div class="form-group">
            <label class="cols-sm-2 control-label">Frecuencia con la que asiste al médico:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" name="frecuenciam" required="required" class="form-control" placeholder="Ingrese la frecuencia con la que asiste al médico" minlength="2" maxlength="100" />
              </div>
            </div>
          </div>


 <div class="form-group">
            <label class="cols-sm-2 control-label">Diagnóstico:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></span>
              <textarea name="diagnostico" cols="50" rows="4" placeholder="Ingrese el diagnóstico del paciente"></textarea>
              </div>
            </div>
          </div> 
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    <!-- fin paso 7 -->
	
    <!-- paso 8 -->
<div class="row setup-content" id="step-8">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Dinámica familiar</h3>

          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">¿Fué deseado el embarazo?:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                <select class="form-control" id="deseado" name="deseado">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label class="cols-sm-2 control-label">¿Cuenta con habitación propia el niño?:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                <select class="form-control" id="habProp" name="habProp">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="cols-sm-2 control-label">Describa la dinámica familiar:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-commenting" aria-hidden="true"></i></span>
              <textarea name="dinamica" cols="80" rows="2" placeholder="Describa la dinámica familiar"></textarea>
              </div>
            </div>
          </div> 

   <div class="form-group">
            <label class="cols-sm-2 control-label">Nombre de la persona que cuida al niño cuando no asiste al CENDI:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                <input  maxlength="100" type="text" name="nombrepersonac" required="required" class="form-control" placeholder="Ingrese el nombre de la persona que atiende al niño cuando no asiste al CENDI" minlength="2" />
              </div>
            </div>
          </div>


<div class="form-group" id="derecha">
            <label class="cols-sm-2 control-label">Parentezco con el niño:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                <select class="form-control" name="paentescopcnnac">
             <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="padreperso">Padre</option>
  <option value="madreperso">Madre</option>
  <option value="abueloperso">Abuelo</option>
  <option value="abuelaperso">Abuela</option>
  <option value="tioperso">Tío</option>
  <option value="tiaperso">Tía</option>
  <option value="tutorperso">Tutor</option>
</select>

              </div>
            </div>
          </div>  

 <div class="form-group">
            <label class="cols-sm-2 control-label">Describa como es la relación del niño con esta persona</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-heart" aria-hidden="true"></i></span>
              <textarea name="relacion" cols="80" rows="2" placeholder="Describa la relación del niño con esta persona"></textarea>
              </div>
            </div>
          </div> 


          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
        </div>
      </div>
    </div>
    <!--fin paso 8 -->
    <!-- paso 9 -->
<div class="row setup-content" id="step-9">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Datos de ingreso al CENDI</h3>


<div class="form-group">
              <label for="fecha" class="cols-sm-2 control-label">Fecha de alta del niño:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fechaaltan" id="fecha" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>


<div class="form-group">
              <label for="fecha" class="cols-sm-2 control-label">Fecha de ingreso del niño:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fechaingreson" id="fecha" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>



<div class="form-group">
              <label for="fecha" class="cols-sm-2 control-label">Fecha de ingreso del niño(en caso de cambio de CENDI):</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fechaingcambion" id="fecha" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>

<div class="form-group">
            <label class="cols-sm-2 control-label">Lugar de procedencia:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                <input type="text" name="lugarprocn" required="required" class="form-control" placeholder="Indique lugar de procedencia" minlength="2" maxlength="50" />
              </div>
            </div>
          </div>



<div class="form-group">
              <label for="fecha" class="cols-sm-2 control-label">Fecha de baja del CENDI:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fechabaja" id="fecha" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>

 <div class="form-group">
            <label class="cols-sm-2 control-label">Motivo</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
              <textarea name="motivobaja" cols="50" rows="2S" placeholder="Describa el motivo de la baja del niño"></textarea>
              </div>
            </div>
          </div> 

 <div class="form-group">
            <label class="cols-sm-2 control-label">Observaciones</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
              <textarea name="obsbaja" cols="50" rows="2" placeholder="Describa las observaciones que se encuentren en la baja del niño"></textarea>
              </div>
            </div>
          </div> 


		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="submit" class="btn btn-success btn-lg pull-right" value="guardar"/>
        </div>
      </div>
    </div>
    <!-- fin paso 9 -->
  </form>
      </div>
    </div>

    <!-- <button class="btn btn-success btn-lg pull-right" type="submit">Guardar</button>-->
