
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>


    <div class="section1">&nbsp&nbsp&nbspFicha de reinscripción </div>
        
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico-->

        <form class="form-inline">

         <div class="inner-wrap">
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group"> Ciclo escolar: <input type="text" name="cicloescolar" placeholder="" required pattern="[0-9]{4}-[0-9]{4}" title="Porfavor siga el siguiente formato 1111-1111">
         </div>  
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Foto del niño:
<input name="imagen" type="file" accept="image/jpg" required title="Porfavor siga el siguiente formato 1111-1111"/> 
</form>
</div>

<BR><BR>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
CENDI CLEMENTINA BATALLA DE BASOLLS
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Folio: <input type="number" id="años" name="años" required pattern="[0-9]+">
    <span class="validity"></span>

<!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO--><!-- CONSEGUIR EL FORMATO-->
  </div>


 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Grupo:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
        </div>

<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<br><br>
<div class="section">&nbsp&nbsp&nbspEl formulario se deberá llenar con letras mayúsculas</div>
<br><br>
<div class="section">&nbsp&nbsp&nbspDatos del niño</div>

 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group"> Nombre: <input type="text" name="nombre" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <div class="form-group">
         Apellido paterno: <input type="text" name="paterno" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group">
         Apellido materno: <input type="text" name="materno" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
         CURP: <input type="text" name="curp" placeholder=""
                  minlength="18" maxlength="18" required pattern="[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{6}[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[A-Z0-9]+" title="Siga el siguiente formato ABCD123456MDFRRC0O">
        </div>
<br><br>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 <div class="form-group">
    Edad años: <input type="number" id="años" name="años" required pattern="[0-9]+" max="6">
    <span class="validity"></span>
  </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <div class="form-group">
    Edad meses: <input type="number" id="meses" name="meses" required pattern="[0-9]+" max="11">
    <span class="validity"></span>
  </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group">
    Fecha nacimiento: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" min="2011-01-01">
    <span class="validity"></span>
  </div>
  <br>
<!--  *************************************************  -->
 
<!--   DATOS DEL DERECHOHABIENTE    -->

    <br><br> <div class="section">&nbsp&nbsp&nbspDatos del derechohabiente</div>

         <div class="form-group"> Nombre: <input type="text" name="nombrep" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        <div class="form-group">
         CURP: <input type="text" name="correopapa" placeholder=""
                  minlength="18" maxlength="18" required pattern="[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{6}[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[A-Z]{3}[A-Z0-9]+" title="Siga el siguiente formato ABCD123456MDFRRC0O">
        </div>


        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Correo electrónico: <input type="email" name="nacimiento" placeholder="">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Número de empleado: <input type="text" name="paternop" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>
<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->

<!-- VALIDAR NUMERO DE EMPLEADO PEDIR FORMATO-->
   <div class="form-group">
       <br>  Domicilio particular
    Calle: <input type="text" name="calle" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noext" name="noext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="noint" name="noint" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="col" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="del" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfed" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cp" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel (10 díg):  <input type="text" id="tel" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="ext" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="cel" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Ocupación: <input type="text" name="ocupacion" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Categoría: <input type="text" name="adscripcion" placeholder=""
                  minlength="0" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

<br>

 <div class="form-group">
   <br>  Sueldo mensual:  <input type="number" id="sueldo" name="sueldo" >
    <span class="validity"></span>
  </div>
 &nbsp&nbsp   &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha de ingreso IPN: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp<div class="form-group">
     <br>   Adscripción: <input type="text" name="adscripcion" placeholder=""
                  minlength="1" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

         &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Nombre de jefe inmediato: <input type="text" name="adscripcion" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

         &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Puesto de jefe inmediato: <input type="text" name="adscripcion" placeholder=""
                  minlength="1" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

  <div class="form-group">
    <br>Tel. jefe(con extensión):  <input type="text" id="tel" name="tel" required pattern="[0-9]+ [A-Za-z]+ [0-9]" minlength="18" maxlength="18">
    <span class="validity"></span>
  </div>
  &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <div class="form-group">
     <br>   Horario de entrada trabajo: 
<input type="time" name="hora" required="">
        </div>


&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Horario de salida trabajo: 
<input type="time" name="hora" required="">
        </div>

<br>
<!-- DATOS DEL PADRE             -->
   <br><br> <div class="section">&nbsp&nbsp&nbspDatos del padre</div>

<div class="form-group"> Nombre: <input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternot" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternot" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

       &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Religión: <input type="text" name="edocivilt" placeholder=""
                  minlength="0" maxlength="15" required pattern="[A-Z]+">
        </div>



 &nbsp&nbsp&nbsp <div class="form-group">
    Tel trabajo(10 díg):  <input type="text" id="telt" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
     Ext:  <input type="text" id="extt" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


<br>

<div class="form-group">
       <br>  Domicilio particular
    Calle: <input type="text" name="callet" placeholder=""
                  minlength="4" maxlength="25" required pattern="[A-Z 0-9]">
        </div>

    
      
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>  No. exterior:<input type="number" id="noextt" name="noextt" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <div class="form-group">
     <br> No. interior: <input type="number" id="nointt" name="nointt" pattern="[0-9]+">
    <span class="validity"></span>
  </div>

 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    <br>    Colonia: <input type="text" name="colt" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>
<!--  *************************************************  -->
    &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Del o municipio: <input type="text" name="delt" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

        &nbsp&nbsp&nbsp<div class="form-group">
     <br>   Entidad federativa: <input type="text" name="entfedt" placeholder=""
                  minlength="4" maxlength="50" required pattern="[A-Z 0-9]">
        </div>

&nbsp  <div class="form-group">
   <br>  C.P.: <input type="text" id="cpt" name="cp" required pattern="[0-9]+" minlength="5" maxlength="5">
    <span class="validity"></span>
  </div>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Tel trabajo(10 díg):  <input type="text" id="telt" name="tel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  <div class="form-group">
   <br>  Ext:  <input type="text" id="extt" name="ext" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>

 &nbsp&nbsp  <div class="form-group">
   <br>  Cel (10 díg):  <input type="text" id="celt" name="cel" required pattern="[0-9]+" minlength="10" maxlength="10">
    <span class="validity"></span>
  </div>

   &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>   Ocupación: <input type="text" name="ocupaciont" placeholder=""
                  minlength="4" maxlength="20" required pattern="[A-Z 0-9]">
        </div>

      


  &nbsp&nbsp&nbsp&nbsp<div class="form-group">
     <br>Lugar de trabajo: <input type="text" name="lugtrabajot" placeholder=""
                  minlength="4" maxlength="60" required pattern="[A-Z 0-9]">
        </div>

<br>
<br><br><div class="section">&nbsp&nbsp&nbspOtros hijos inscritos en Centros de Desarrollo Infantil del IPN: </div>
<br>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<div class="form-group"> Nombre: <input type="text" name="nombreex" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternoex" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternoex" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group">
         CENDI al que asiste:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="amalia">Amalia Solórzano de Cárdenas</option>
  <option value="eva">Eva Sámaro de López Mateos</option>
  <option value="laura">Laura Pérez de Bátiz</option>
  <option value="margarita">Margarita Salazar de Erro</option>
</select>
        </div>



<br><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group"> Nombre: <input type="text" name="nombreex1" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
         </div>  

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido paterno: <input type="text" name="paternoexp" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         Apellido materno: <input type="text" name="maternoexm" placeholder=""
                  minlength="4" maxlength="15" required pattern="[A-Z]+">
        </div>


         &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class="form-group">
         CENDI al que asiste:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="amalia">Amalia Solórzano de Cárdenas</option>
  <option value="eva">Eva Sámaro de López Mateos</option>
  <option value="laura">Laura Pérez de Bátiz</option>
  <option value="margarita">Margarita Salazar de Erro</option>
</select>
        </div>

      <br>    <br><br>

 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp


      &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Ciudad de México a: <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>

<br><br><br><br><br>

 &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp________________________________________________ 
<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFirma del derechohabienteMadre o tutor(a).
<br> <br> <br> 
<b>______________________________________________________________________________________________________________________________________________________________

 <br><br> <div class="section">&nbsp&nbsp&nbspPara uso exclusivo de la COordinación de Centros de Desarrollo Infantil</div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Grupo de procedencia:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
        </div>


        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<div class="form-group">
         <br>Grupo a cursar:
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
        </div>


 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Fecha: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>
  <br><br>
<br><br>
<div class="section">&nbsp&nbsp&nbspFotografías de padres y persona autorizada para recoger al niño(a).</div>

<br><br>



&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Madre o tutor(a):
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Padre:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<div class="form-group"><form method="post" action="accion.php" enctype="multipart/form-data">
<br>Persona autorizada:
<input name="imagen" type="file" accept="image/jpg" required/>
</form>
</div>
<br><br><br><br>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
Certificado QS-307-MX / ISO 9001:2008
 <br> <br> 
<b>______________________________________________________________________________________________________________________________________________________________
<br>
Av. Juan de Dios Bátiz esquina Miguel Othón de Mendizábal, Col. Nueva Industrial Vallejo Delegación Gustavo A. Madero, C.P 07738
FAC Tel. 5729-6000, 5729-6300 Ext.57703, 57701, 57702, 57704, 57709, 57710. Correo electrónico: cocendi@ipn.mx.




<br><br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" /> 



</div>


  </form>
        
       </div> 

</div>
</form>
