<div class="nav-side-menu">
	<div class="brand">Bienvenida @TS</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
	        <div class="menu-list">
	  
	            <ul id="menu-content" class="menu-content collapse out">
	                <li  data-toggle="collapse" data-target="#repMens" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes mensuales<span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="repMens">
	                    <li><a href="/Trabajosocial/nuevoRepMens">Agregar reporte</a></li>
	                    <li><a href="/Trabajosocial/ReporteMensualTS">Ver reporte</a></li>
	                </ul>
					<li  data-toggle="collapse" data-target="#regnino" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Datos<span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="regnino">
	                    <li><a href="/Trabajosocial/ingresarderechohabiente">Registrar Datos</a></li>
						<li><a href="/Trabajosocial/ver">Ver niños</a></li>
	                </ul>
	                <li  data-toggle="collapse" data-target="#repD" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Reportes diarios<span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="repD">
	                    <li><a href="/Trabajosocial/nuevoRepDiarioTS">Agregar reporte</a></li>
	                    <li><a href="/Trabajosocial/ReporteDiarioTS">Ver reporte</a></li>
	                </ul>

	                <li  data-toggle="collapse" data-target="#Afacs" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Generar FAC's <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="Afacs">
	                	<li><a href="/Trabajosocial/FAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
	                	<li><a href="/Trabajosocial/FAC13">FAC 13. Ficha de Reinscripción</a></li>
	                    <li><a href="/Trabajosocial/FAC14">FAC 14. Ficha de Identificación V 10</a></li>
	                    <li><a href="/Trabajosocial/FAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
	                    <li><a href="/Trabajosocial/FAC131">FAC 131. Carta Compromiso V 04</a></li>
	                    <li><a href="/Trabajosocial/FAC144">FAC 144. Ingreso en Trámite V00</a></li>
	                </ul>
	                <li  data-toggle="collapse" data-target="#Vfacs" class="collapsed">
	                  <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Ver FAC's <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="Vfacs">
	                	<li><a href="/Trabajosocial/VFAC11">FAC 11. Estudio Socioeconómico V 03</a></li>
	                	<li><a href="/Trabajosocial/VFAC13">FAC 13. Ficha de Reinscripción</a></li>
	                    <li><a href="/Trabajosocial/VFAC14">FAC 14. Ficha de Identificación V 10</a></li>
	                    <li><a href="/Trabajosocial/VFAC130">FAC 130. Indicaciones para las Derechohabientes V 03</a></li>
	                    <li><a href="/Trabajosocial/vFAC131">FAC 131. Carta Compromiso V 04</a></li>
	                    <li><a href="/Trabajosocial/VFAC144">FAC 144. Ingreso en Trámite V00</a></li>
	                </ul>
	            </ul>
	        </div>
	    </div>
  <div class="container-fluid contenido">
  <div class="col-xs-10 ">
        <div class="col-md-12">
    <div class="row contenido-usr">
      <h3><b>Listado Niños.</b></h3>
	  <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                       <tr>
                          <th rowspan="2">Nombre</th>
                          <th rowspan="2">Apellido Materno</th>
                          <th rowspan="2">Apellido Paterno</th>
						  <th rowspan="2">Grupo</th>
						  <th rowspan="2">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
            </table>
          </div>
	  </div>
	  </div>
	  </div>
</div>