<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div class="form-style-10">
  			<div class="encabezado"> 
				<h1>Instituto Politécnico Nacional<span>
				Secretaría de Administración</span>
				<span>Coordinación de Centros de Desarrollo Infantil 
				</span>
				<nav>
					<ul>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Registro de alumnos</a></li>
						<li><a href="#">Gráficas Mensuales</a></li>
					</ul> 
				</nav>
				</h1>
  			</div>
  			<div class="inner-wrap">
        		<div class="section1">
          			<h3>Bienvenida Administradora</h3>
        		</div>
      		</div>	
  		</div>
	</body>
</html>