<div class="nav-side-menu">
  <div class="brand">Bienvenida @Doctora</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
          <div class="menu-list">
    
              <ul id="menu-content" class="menu-content collapse out">
                  <li class="active">
                    <a href="/AgregarNuevaDosisMedico"><i class="fa fa-medkit" aria-hidden="true"></i>Agregar Tratamiento</a>
                  </li>

                  <li  data-toggle="collapse" data-target="#facs" class="collapsed">
                    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>FAC's <span class="arrow"></span></a>
                  </li>
                  <ul class="sub-menu collapse" id="facs">
                      <li><a href="/FAC48">FAC 48. Solicitud de Éxamenes de Laboratorio</a></li>
                      <li><a href="/FAC49">FAC 49. Aviso de Suspensión por Enfermedad</a></li>
                      <li><a href="/FAC50">FAC 50. Reporte Diario de Atención a la Salud Integral</a></li>
                      <li><a href="/FAC51">FAC 51. Reporte de Estado de Salud</a></li>
                      <li><a href="/FAC71">FAC 71. Autorización para el uso de medicamentos y traslado al hospital</a></li>
                      <li><a href="/FAC90">FAC 90. Informe de Área Médica</a></li>
                      <li><a href="/FAC98">FAC 98. Administración de Medicamentos</a></li>
                      <li><a href="/FAC103">FAC 103. Técnica del Cepillado</a></li>
                  </ul>
              </ul>
          </div>
      </div>

<div class="container-fluid contenido">
    <div class="row contenido-usr">
      <h3><b>Ingresar nuevo medicamento</b></h3>
      <p class="col-xs-6 col-md-offset-2"><b>Instrucciones:</b> Favor de ingresar los campos.</p>
      <div class="col-xs-6 col-md-offset-3">
        <form class="" method="post" action="#">
          <div class="form-group">
              <label for="grupo" class="cols-sm-2 control-label">Grupo:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                  <select required="required" class="form-control" id="grupo" name="grupo">
                    <option value="default" selected disabled hidden>--Seleccione--</option>
                    <option value="maternal1">Lactantes I</option>
                    <option value="maternal1">Lactantes II</option>
                    <option value="maternal2">Maternal I</option>
                    <option value="maternal3">Maternal II</option>
                    <option value="preescolar1">Preescolar I</option>
                    <option value="preescolar2">PreescolarII</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="ninoName" class="cols-sm-2 control-label">Nombre del niño(a):</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-child" aria-hidden="true"></i></span>
                <select class="form-control" id="ninoName" name="ninoName">
                  <option value="default" selected disabled hidden>--Seleccione--</option>
                  <option value="alan">Alan Oswaldo Díaz Martínez</option>
                  <option value="Jaqui">Jaqueline Henrandéz García</option>
                </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="nomMedic" class="cols-sm-2 control-label">Nombre del medicamento:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-medkit" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="nomMedic" id="nomMedic"  placeholder="Nombre del Medicamento"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="frecAdmin" class="cols-sm-2 control-label">Frecuencia de administración:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-medkit" aria-hidden="true"></i></span>
                  <select class="form-control" id="frecAdmin" name="frecAdmin" required>
                    <option value="default" selected disabled hidden> -- Selecciona una opción -- </option>
                    <option value="1hora">Cada hora</option>
                    <option value="2horas">Cada dos horas</option>
                    <option value="3horas">Cada tres horas</option>
                    <option value="4horas">Cada cuatro horas</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="hora" class="cols-sm-2 control-label">Hora de la primer pastilla: </label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                  <input type="text" required="required"  class="form-control" name="hora" id="hora"  placeholder="00:00 hrs"/>
                </div>
              </div>
            </div>
            <label class="cols-sm-2 control-label">Periodo del tratamiento:</label>
            <div class="form-group">
              <label for="fechaDe" class="cols-sm-2 control-label">De:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fechaDe" id="fechaDe" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="fechaHasta" class="cols-sm-2 control-label">Hasta:</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"  placeholder="dd/mm/aaaa"/>
                </div>
              </div>
            </div>
            <div class="form-group">
            <label class="cols-sm-2 control-label">Diagnóstico Probable:</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                <textarea required="required" class="form-control" placeholder="Indicaciones/diagnóstico:"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
              <a href="#" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Guardar</a>
            </div>
          </form>
        
       </div> 

    </div>
</div>