
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   
<BR><BR>Servicio médico<br><br>
Ingresar nuevo medicamento<br><br>
</div>
<!-- -->


<br><br> Grupo:         
<div class="form-group">
         
          <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Lactantes I</option>
   <option value="maternal1">Lactantes II</option>
  <option value="maternal2">Maternal I</option>
  <option value="maternal3">Maternal II</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
        </div>

    &nbsp&nbsp  

Nombre del alumno: <div class="form-group">
                  <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Nombre 1</option>
   <option value="maternal1">Nombre 2</option>
  <option value="maternal2">Nombre 3</option>
  <option value="maternal3">Nombre 4</option>
  <option value="preescolar1">Nombre 5</option>
</select>
        </div>


&nbsp&nbsp

Apellido Paterno:  <div class="form-group">
                  <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Apellido paterno 1</option>
   <option value="maternal1">Apellido paterno 2</option>
  <option value="maternal2">Apellido paterno 3</option>
  <option value="maternal3">Apellido paterno  4</option>
  <option value="preescolar1">Apellido paterno  5</option>
</select>
        </div>

&nbsp&nbsp
Apellido Materno: 
 <div class="form-group">
                  <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Apellido materno 1</option>
   <option value="maternal1">Apellido materno 2</option>
  <option value="maternal2">Apellido materno 3</option>
  <option value="maternal3">Apellido materno  4</option>
  <option value="preescolar1">Apellido materno  5</option>
</select>

        </div>

<BR><BR>
Nombre del medicamento:
 <div class="form-group">
                  <input type="text" style="width:250%" name="nombret" placeholder=""
                  minlength="3" maxlength="100">
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Substancia:
 <div class="form-group">
                  <input type="text" style="width:250%" name="nombret" placeholder=""
                  minlength="3" maxlength="100">
        </div>

<br><br>


Presentación:  <div class="form-group">
                  <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="ampolletas">Ampolletas</option>
  <option value="capsulas">Cápsulas</option>
  <option value="crema">Crema</option>
  <option value="globulos">Glóbulos</option>
  <option value="gotas">Gotas</option>
   <option value="pastillas">Pastillas</option>
   <option value="solución">Solución/Suspensión</option>
  <option value="supositorios">Supositorios</option>
  <option value="tabletas">Tabletas</option>
</select>
        </div>



&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Frecuencia por medicamento:  <div class="form-group">
                  <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="1hora">Cada hora</option>
  <option value="2horas">Cada dos horas</option>
  <option value="3horas">Cada tres horas</option>
  <option value="4horas">Cada cuatro horas</option>
  </select>
        </div>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Hora de la primer pastilla: 
<div class="form-group">
<input type="time" name="hora" required="" max="14:30:00" min="08:30:00">
        </div>

     <br><br>

Periodo del tratamiento De:
<div class="form-group">
    <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

Hasta:
<div class="form-group">
    <input type="date" id="cumplet" name="cumplet" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span>
  </div>


&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
Indicaciones/diagnóstico:
<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  
   <div class="form-group">
     <textarea name="textarea" cols="50" rows="8" placeholder="Escriba el diagnóstico y/o las indicaciones del doctor"></textarea>
    </div>
<br><br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" value="Ingresar medicamento" />



</div>



<br><br>


<br><br><br></div>


  </form>
        
       </div> 

    </div>
</form>

<!-- En este formulario se pide la primer hora para que se genere en automático los demás horarios de las pastillas-->