
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   
<BR><BR>Bienvenida Doctora

<br><br>

<br><br>

<!-- -->

<button class="button button3" onclick="location.href = 'link'">Agregar nueva receta</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 48. Solicitud de Exámenes de  Laboratorio V 07</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 49. Aviso de Suspensión por Enfermedad V 05</button>

<br><br>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 50. Reporte Diario de Atención a la Salud Integral V 03</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 51. Reporte de Estado de Salud V 05</button>

<br><br>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 71. Autorización para el uso de medicamentos y traslado al hospital V 04</button>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC 90. Informe de Área Médica V 06</button>

<br><br>
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp
 <button class="button button3" onclick="location.href = 'link'">FAC- 98 Administración de Medicamentos V05</button>
 
</div>

<br><br>


<br><br><br></div>


  </form>
        
       </div> 

    </div>
</form>