<nav class="m2">
	<ul>
		<li><a href="#">Agregar nueva receta</a></li>
		<!--<li><a href="#">FAC's</a>
		<ul>-->
			<li><a href="#">FAC 48.</a></li>
			<li><a href="#">FAC 49.</a></li>
			<li><a href="#">FAC 50.</a></li>
			<li><a href="#">FAC 51.</a></li>
			<li><a href="#">FAC 71.</a></li>
			<li><a href="#">FAC 90.</a></li>
			<li><a href="#">FAC 98.</a></li>
		<!--</ul>
		</li>-->
	</ul> 
</nav>
<!--Agregar nueva receta
	FAC 48. Solicitud de Exámenes de  Laboratorio V 07
	FAC 49. Aviso de Suspensión por Enfermedad V 05
	FAC 50. Reporte Diario de Atención a la Salud Integral V 03
	FAC 51. Reporte de Estado de Salud V 05
	>FAC 71. Autorización para el uso de medicamentos y traslado al hospital V 04
	FAC 90. Informe de Área Médica V 06
	">FAC- 98 Administración de Medicamentos V05-->


<div class="inner-wrap">
<div class="section1">
		<h3>Bienvenida Doctora</h3>
</div>
</div>	