
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   SOLICITUD DE ESTUDIOS DE LABORATORIO PARA REINSCRIPCION AL CICLO ESCOLAR
<BR>

<!-- -->
    <div class="form-group"> <input type="text" name="cicloescolar" placeholder="" required pattern="[0-9]{4}-[0-9]{4}" title="Porfavor siga el siguiente formato 1111-1111">
         </div>  
    </div>

<br><br> &nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
Ingreso en trámite



<br><br>
 


       <div class="uso3">
<ul>

Sr(a). <div class="form-group"><input type="text" name="nombret" placeholder="Nombre(s)"
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
                  </div>
                  <div class="form-group">
            <input type="text" name="paterno" placeholder="apellido paterno"
                  minlength="4" maxlength="15" required pattern="[A-Z ]+">
       </div>
       <div class="form-group">
  <input type="text" name="paterno" placeholder="apellido materno"
                  minlength="4" maxlength="15" required pattern="[A-Z ]+">  
</div>
                  <div class="form-group"    
Adscrita a:<input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z]+"> 
                  </div>





                  <br><br>
Comunico a usted que su hijo(a).&nbsp&nbsp&nbsp&nbsp&nbsp
 <div class="form-group">
<input type="text" name="nombret" placeholder="nombre"
                  minlength="3" maxlength="20" required pattern="[A-Z]+"> </div>
  &nbsp&nbsp&nbsp&nbsp&nbsp        
   <div class="form-group">        
 <input type="text" name="paterno" placeholder="apellido paterno"
                  minlength="4" maxlength="15" required pattern="[A-Z ]+">
       </div>
  &nbsp&nbsp&nbsp &nbsp&nbsp    <div class="form-group"> 
  <input type="text" name="paterno" placeholder="apellido materno"
                  minlength="4" maxlength="15" required pattern="[A-Z ]+">      
 </div>
 <br><br>  
 
 del grupo:  <div class="form-group"> <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
</div>
&nbsp&nbsp ha presentado este día, durante su permanencia en el Centro de Desarrollo Infantil los síntomas siguientes:
<br>
 <div class="form-group">
<textarea name="textarea" cols="114" rows="8" placeholder="Escriba los síntomas presentados"></textarea> </div>
 <br><br>
 Diagnóstico probable:
 <br>
 <div class="form-group">
 <textarea name="textarea" cols="114" rows="2" placeholder="Escriba el diagnóstico probable"></textarea></div>
<br><br>
Por este motivo procurando el bienestar del niño(a) y de la población escolar de este Centro, debo
suspender a su hijo (a), a partir de hoy hasta que restablezca su salud, por lo que deberá asistir a su
clínica de adscripción del ISSSTE o con su médico particular
<br><br>
</ul></div>


<div class="uso3">
<ul>
Observaciones:
 Diagnóstico probable:
 <br>  <div class="form-group">
<textarea name="textarea" cols="114" rows="2" placeholder="Escriba el diagnóstico probable"></textarea></div>
</ul></div>



<div class="uso3">
<ul>
PARA SER LLENADO POR EL MÉDICO TRATANTE
<br><br>
Estimado Doctor:<br>
Favor de indicar sus impresiones diagnosticadas:
<textarea name="textarea" cols="114" rows="8" placeholder="Escriba el diagnóstico probable"></textarea>
<br><br><br><br><br><br>
&nbsp&nbsp&nbsp &nbsp&nbsp
 <div class="form-group">
<input type="text" name="nombret" placeholder="nombre"
                  minlength="3" maxlength="20" required pattern="[A-Z]+"> </div>
  &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp 
  
  
  
<br>
_____________________________  &nbsp&nbsp&nbsp &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp
__________________________________

<br>Nombre y firma del médico 
 &nbsp&nbsp&nbsp &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp Sello de la institución o cédula profesional
</ul></div>

<br><br>&nbsp&nbsp  &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp
Ciudad de México a:  <div class="form-group">
    <input type="date" id="bday" name="calendario" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    <span class="validity"></span></div>
 
<br>
<br><br><br><br><br><br>
&nbsp&nbsp&nbsp &nbsp&nbsp
 <div class="form-group">
<input type="text" name="nombret" placeholder="nombre"
                  minlength="3" maxlength="20" required pattern="[A-Z]+"> </div>
  &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp 
   <div class="form-group">
  <input type="text" name="nombret" placeholder="nombre"
                  minlength="3" maxlength="20" required pattern="[A-Z]+">
  </div>
<br>
_____________________________  &nbsp&nbsp&nbsp &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp
__________________________________

<br>Nombre y firma de la Directora 
 &nbsp&nbsp&nbsp &nbsp&nbsp   &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp Nombre y firma del responsable del área
 <br><br>
 NOTA: Para el ingreso del niño(a), en caso de ser necesario, se solicitará este formato contestado por el médico tratante y/o copia de la
receta médica, así como la valoración del médico del CENDI.
Esta suspensión es válida para el niño del CENDI, por lo tanto no justifica la ausencia de la madre en su Centro de Trabajo. 





</ul></div>



<br><br><br><br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" name="Sign Up" value="Descargar" /> 



</div>


  </form>
        
       </div> 

</div>
</form>