<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   CENDI Clementina Batalla de Bassolls
<BR> REPORTE DE ESTADO DE SALUD

<br><br>
<div class="form-group">
    Ciudad de México: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
    <span class="validity"></span>
  </div>
<!-- -->

    </div>
<input type="submit" name="Sign Up" value="Descargar" /> 



  &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp  

       <div class="uso4">
<ul>
 Grupo:
<div class="form-group"> <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Maternal I</option>
  <option value="maternal2">Maternal II</option>
  <option value="maternal3">Maternal III</option>
  <option value="preescolar1">Preescolar I</option>
  <option value="preescolar2">PreescolarII</option>
</select>
</div>
&nbsp &nbsp&nbsp&nbspNombre del niño(a).

<div class="form-group"><input type="text" name="nombret" placeholder="Nombre(s)"
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
                  </div>
&nbsp &nbsp&nbsp&nbsp
           <div class="form-group"> <input type="text" name="paterno" placeholder="apellido paterno"
                  minlength="4" maxlength="15" required pattern="[A-Z ]+">
       </div>
      &nbsp &nbsp&nbsp&nbsp
       <div class="form-group">
  <input type="text" name="paterno" placeholder="apellido materno"
                  minlength="4" maxlength="15" required pattern="[A-Z ]+">  
                  </div>


<br><br>
Responsable del grupo:
<div class="form-group"> <select required>

 <option disabled selected value> -- Selecciona una opción -- </option>
  <option value="maternal1">Encargada 1</option>
  <option value="maternal2">Encargada 2</option>
  <option value="maternal3">Encargada 3</option>
</select>
</div>

<br><br><br>Datos clínicos:
<div class="form-group">
     <textarea name="textarea" cols="130" rows="4" placeholder="Escriba los datos clínicos"></textarea>
    </div> <br><br><br>
 Probable diagnóstico:
<div class="form-group">
     <textarea name="textarea" cols="25" rows="4" placeholder="Escriba los datos clínicos"></textarea>
    </div>


&nbsp &nbsp Tratamiento administrado:
<div class="form-group">
     <textarea name="textarea" cols="25" rows="4" placeholder="Escriba los datos clínicos"></textarea>
    </div>

  

&nbsp &nbsp Observaciones:
<div class="form-group">
     <textarea name="textarea" cols="25" rows="4" placeholder="Escriba los datos clínicos"></textarea>
    </div>
<br><br><br><br><br>
&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
<div class="form-group"><input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
                  </div>



&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp

<div class="form-group"><input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
                  </div>

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
<div class="form-group"><input type="text" name="nombret" placeholder=""
                  minlength="3" maxlength="20" required pattern="[A-Z ]+">
                  </div>                                    

___________________________________________
&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
___________________________________________
&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
___________________________________________

<br><br>
Responsable de área 

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
Responsable de Grupo

&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp
Directora


</div>



</ul></div>

</div>


  </form>
        
       </div> 

    </div>
</form>

