
<div class="form-style-10">
<br><br> <h1>&nbsp&nbsp&nbspInstituto Politécnico Nacional<span>

&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Secretaría de Administración</span>
<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coordinación de Centros de Desarrollo Infantil 
</span></h1>
<form>
    
    <form>
  
</form>
<br>





<!-- Aqui empieza el estudio socioeconomico

PARA CENTRAR UN TEXTO
&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp
-->

        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   CENDI Clementina Batalla de Bassolls
<BR><BR>INFORME DE ÁREA MÉDICA

<br><br>
</div>
<!-- -->

  
<br><br>

 &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
        Correspondiente al mes de:

          <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="enero">Enero</option>
  <option value="febrero">Febrero</option>
  <option value="marzo">Marzo</option>
  <option value="abril">Abril</option>
  <option value="mayo">Mayo</option>
  <option value="junio">Junio</option>
  <option value="julio">Julio</option>
  <option value="agosto">Agosto</option>
  <option value="septiembre">Septiembre</option>
  <option value="octubre">Octubre</option>
  <option value="noviembre">Noviembre</option>
  <option value="diciembre">Diciembre</option>

</select>
        </div>

<br>

 &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Ciudad de México: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
    <span class="validity"></span>
  </div>



<BR><br><br>
<table style="width:100%">
  <tr>
    <th>Número de niños revisados en filtro:</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div>
</td>
  </tr>
  
  <tr>
    <th>Número de niños enfermos revisados</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de niños sanos revisados</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Historias clínicas de ingreso</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Historias clínicas actualizadas</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Total de niños enviados a atención especializada</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Total de niños Post-Atención especializada</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Casos de revisión conjunta con otro personal del Centro</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de supervisiones en grupos</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de supervisiones a cocina y lactario</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de cartillas de vacunación revisadas
</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de niños suspendidos
</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de administración de medicamentos</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>Número de casos que requirieron medio hospitalario
(Seguro escolar)
</th>
    <td><div class="form-group">
    <br><input type="number" id="no" name="no" required pattern="[0-9]+" >
    <span class="validity"></span>
  </div></td>
  </tr>
</table>

<br><br><br>
<table style="width:40%" align="left">
  <tr>
    <th>DPT</th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
</td>
  </tr>
  
  <tr>
    <th>ANTISARAMPIÓN</th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>PENTAVALENTE</th>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>ROTAVIRUS </th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>OTRAS</th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
</table>

<table style="width:40%" align="right">
  <tr>
    <th>POLIO</th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
</td>
  </tr>
  
  <tr>
    <th>TRIPE VIRAL</th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>NEUMOCOCO
</th>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
   <tr>
    <th>ANTIHEPATITIS </th>
    <td><div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div></td>
  </tr>
  
  
  
</table>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
Elaboró:
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
Vo. Bo.
<br><br><br><br>
<div class="form-group">
<input type="text" name="entfed" placeholder="" minlength="1" maxlength="50" required pattern="[A-Z ]+">
        </div>


&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
       <div class="form-group">
        <input type="text" name="entfed" placeholder="" minlength="1" maxlength="50" required pattern="[A-Z ]+">
        </div>
        <br>
Nombre y firma del Responsable del área

&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp

Nombre y firma de la directora
del CENDI
<br><br><br><br><br>



        <form class="form-inline">

         <div class="inner-wrap">

          <div class="section1">

   CENDI Clementina Batalla de Bassolls
<BR><BR>INFORME DE ÁREA MÉDICA

<br><br>
</div>
<!-- -->

  
<br><br>

 &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
        Correspondiente al mes de:

          <select required>

   <option disabled selected value> -- Seleccione una opción -- </option>
  <option value="enero">Enero</option>
  <option value="febrero">Febrero</option>
  <option value="marzo">Marzo</option>
  <option value="abril">Abril</option>
  <option value="mayo">Mayo</option>
  <option value="junio">Junio</option>
  <option value="julio">Julio</option>
  <option value="agosto">Agosto</option>
  <option value="septiembre">Septiembre</option>
  <option value="octubre">Octubre</option>
  <option value="noviembre">Noviembre</option>
  <option value="diciembre">Diciembre</option>

</select>
        </div>

<br>

 &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp<div class="form-group">
    Ciudad de México: <input type="date" id="cumple" name="cumple" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
    <span class="validity"></span>
  </div>

<br><br><br>
<table style="width:90%">
  <tr>
   <th>Diagnóstico</th>
    
    <th>Número de casos</th>
      <th>Diagnóstico</th>
    <th>Número de casos</th>
  </tr>
  
  
  
  
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>




  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
    <div class="form-group">
    <br><input type="text" id="no" name="no" required >
    <span class="validity"></span>
  </div>
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    
    
  <tr>
    <td>
    Total de niños enfermos:
  </td>
  
    <td>
      <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </td>
        <td>
 Total de niños enfermos:
  </td>
  
    <td>
         <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
    </tr>
    

</table>

<br><br>

Total:
   <div class="form-group">
    <br><input type="number" id="no" name="no" required >
    <span class="validity"></span>
  </div>
   
<br><br>
Elaboró:
&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
Vo. Bo.
<br><br><br><br>
<div class="form-group">
<input type="text" name="entfed" placeholder="" minlength="1" maxlength="50" required pattern="[A-Z ]+">
        </div>


&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp
       <div class="form-group">
        <input type="text" name="entfed" placeholder="" minlength="1" maxlength="50" required pattern="[A-Z ]+">
        </div>
        <br>
Nombre y firma del Responsable del área

&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp

Nombre y firma de la directora
del CENDI
<br><br>




<br><br><br><br><br><br>
<input type="submit" name="Sign Up" /> 
<input type="submit" name="Sign Up" value="Descargar" /> 


  </div>

    </div>









<br><br><br></div>


  </form>
        
       </div> 

    </div>
</form>

