<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<style type="text/css">
.form-style-10{
    /*width:450px;
    padding:30px;
    margin:40px auto;*/
    background: #F8F8F8;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.abajo {
     background-position: 10px 30px;
}
.form-style-10 .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    /*margin-bottom: 10px;*/
}
.form-style-10 h1{
    background: #b12626;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}


.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
    font: normal 15px 'Bitter', serif;
    color: #b12626;
    margin-bottom: 5px;
}
.form-style-10 .section1{
    font: normal 20px 'Bitter', serif;
    color: #b12626;
    margin-bottom: 5px;
    text-align: center;
}

.form-style-10 .section2{
    font: normal 20px 'Bitter', serif;
    color: #b12626;
    margin-bottom: 5px;
    text-align: right;
}



.form-style-10 .section span {
    background: #b12626;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
    background: #b12626;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}
</style>

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    /*text-align: left;*/
    text-align: center;
    
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #b12626;
    color: white;
}
div.uso1 {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
p.test1 {
     width: 500px; 
    height: 100px;
    border: 1px solid #000000;
    word-break: keep-all;
    position: relative;
}

p.double {border-style: double;}


.uso2 {
    background-color: #F2F2F2;
    width: 300px;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
}


.uso3 {
    background-color: #F2F2F2;
    width: 900px;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;

}


.uso4 {
    background-color: #F2F2F2;
    width: 1200px;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;

}
.uso5 {
    background-color: #F2F2F2;
    width: 1500px;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;

}

.button {
    background-color: #b12626; 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button3 {border-radius: 100px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}


.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}


.form-group1 {
  margin-bottom: 30px;
}

.container{
    width: auto;
}
.scroll{
    overflow:scroll;
    height:auto;
    width:auto;
}
.encabezado{
    padding: 1.5em 1em 1em 2em;
    margin-bottom: 0em;
    background-color: #fff;
    color:#000;
    text-align: center;
}
.encabezado h1, h2, h3, h4, h5{
    padding: .1em;
}
.boton-regresar{
    float:right;
    font: normal 30px 'Bitter', serif;
}
.pie-pagina{
    background: #f2f0f1;
    border-top: 0em;
    padding: 1.5em 1em 1em 2em;
    color:#474747;
}
.pie-pagina p{
    font-size: 1em;
}
.m2
{
    background-color: #b12626;
    float: left;
    width: 100%;
}
.m2 ul
{
    clear: left;
    margin: 0 auto;   
    float: left;
    padding-left: 50%;
    position: relative; 
    font: 13px Arial, Helvetica, sans-serif;
}
.m2 ul li
{
    list-style: none;
    display: inline-block; 
    padding: 0.5em 1.5em 0.5em 1.5em;
    float: left;
    right: 50%;
    position: relative;

}
.m2 ul li a
{
    color:white; 
    text-decoration: none;   
}
.m2 ul li:hover
{
    background-color: #c12626;   
}
.m2 ul li:hover > a
{
    color:white;
    text-decoration: none;
}
.menu{
    background-color: #f2f0f1;
}
.menu ul li a
{
    color:black; 
    text-decoration: none;   
}
/*.menu ul li:hover
{
    background-color: #c12626;   
}*/
.menu ul li:hover > a
{
    color:black;
    text-decoration: underline;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }
    .dropdown-lr label {
        color: #eee;
    }
}
