body{
    padding:3em;
    background-image:url('/images/back1.jpg');
    
}
.container{
    width: auto;
}
.scroll{
    overflow:scroll;
    height:auto;
    width:auto;
}
.encabezado{
    padding: 1.5em 1em 1em 2em;
    margin-bottom: 0em;
    background-color: #fff;
    color:#000;
    text-align: center;
}
.encabezado h1, h2, h3, h4, h5{
    padding: .1em;
}
.boton-regresar{
    float:right;
    font: normal 30px 'Bitter', serif;
}
.pie-pagina{
    background: #f2f0f1;
    border-top: 0em;
    padding: 1.5em 1em 1em 2em;
    color:#474747;
}
.pie-pagina p{
    font-size: 1em;
}

/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }
    .dropdown-lr label {
        color: #eee;
    }
}


#carousel-inner #item{
    min-width:100%;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.rounded-circle{border-radius:50%}

.contenidoEsc{
    text-align:center;
}
.contenidoEsc p{
    text-align:justify;
}
footer {
    background-color: #333;
    color: white;
    padding: 15px;
}
.form-singin {
	border-radius: 15px;
}