
				<nav class="m2">
					<ul>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Registro de alumnos</a></li>
						<li><a href="#">Gráficas Mensuales</a></li>
					</ul> 
				</nav>

        		<div class="section1">
          			<h3>Bienvenida Administradora</h3>
        		</div>