<div class="nav-side-menu">
  <div class="brand">Bienvenido @Administrador</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  <div class="menu-list">
  	<ul id="menu-content" class="menu-content collapse out">
  		<li  data-toggle="collapse" data-target="#GestUsrs" class="collapsed active">
  			<a href="#"><i class="fa fa-users" aria-hidden="true"></i>Gestionar Usuarios<span class="arrow"></span></a>
  		</li>
  		<ul class="sub-menu collapse" id="GestUsrs">
  			<li class="active"><a href="/administrador/new">Registrar Usuario</a></li>
  			<li><a href="/AdmiUsers">Ver usuarios</a></li>
  		</ul>
  	</ul>
  	<ul id="menu-content" class="menu-content collapse out">
  		<li  data-toggle="collapse" data-target="#Reportes" class="collapsed active">
  			<a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Reportes<span class="arrow"></span></a>
  		</li>
  		<ul class="sub-menu collapse" id="Reportes">
  			<li><a href="#">Reportes mensuales</a></li>
  			<li><a href="/AdminGraficas">Ver gráficas</a></li>
  		</ul>
  	</ul>
  	<ul id="menu-content" class="menu-content collapse out">
  		<li  data-toggle="collapse" data-target="#GestArch" class="collapsed active">
  			<a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i>Gestionar Archivos<span class="arrow"></span></a>
  		</li>
  		<ul class="sub-menu collapse" id="GestArch">
  			<li><a href="#">Recomendaciones</a></li>
  			<li><a href="#">Tareas</a></li>
  		</ul>
  	</ul>
  </div>
</div>
<div class="container-fluid contenido">
      <div class="row contenido-usr">
          <h2>Registrar nuevo usuario</h2>
          <section class="row text-center placeholders">
            <form action="/administrador/create" method ="POST" id="form-singin" class="form-signin col-sm-6">
				<% if(flash && flash.err) { %>
					<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
				</ul>
				<% } %>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Tipo Usuario" name="tipo">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Tu nombre" name="nombre">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Apellido paterno" name="apellidoP">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Apellido materno" name="apellidoM">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Usuario" name="usuario">
				</div>
				<br/>
				<div class="control-group">
				<input type="password" class="form-control" placeholder="Contraseña" name="contrasena" id="contrasena" >
				</div>
				<br/>
				<div class="control-group">
				<input type="password" class="form-control" placeholder="Confirmar Contraseña" name="confirmacion" >
				</div>
				<br/>
				<button type="submit" class="btn btn-primary btn-block">Crear Usuario</button>
				<br/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				
				</form>
          </section>

      </div>
    </div>