<div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/administrador/new">Nuevo usuario <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Registro de alumnos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gráficas Mensuales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ver usuarios</a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <h2>Registrar nuevo usuario</h2>

          <section class="row text-center placeholders">
            <form action="/administrador/create" method ="POST" class="form-signin col-sm-6">
				<% if(flash && flash.err) { %>
					<ul class="alert alert-success">
				<% Object.keys(flash.err).forEach(function(error) { %>
					<li><%- JSON.stringify(flash.err[error]) %></li>
				<% }) %>
				</ul>
				<% } %>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Tipo Usuario" name="tipo" id="tipo">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Tu nombre" name="nombre" id="nombre">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Apellido paterno" name="apellidoP">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Apellido materno" name="apellidoM">
				</div>
				<br/>
				<div class="control-group">
				<input type="text" class="form-control" placeholder="Usuario" name="usuario" id="usuario">
				</div>
				<br/>
				<div class="control-group">
				<input type="password" class="form-control" placeholder="Contraseña" name="contrasena" id="contrasena" >
				</div>
				<br/>
				<div class="control-group">
				<input type="password" class="form-control" placeholder="Confirmar Contraseña" name="confirmacion" id="confirmacion">
				</div>
				<br/>
				<button type="submit" class="btn btn-primary btn-block">Crear Usuario</button>
				<br/>
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				
				</form>
          </section>

        </main>
      </div>
    </div>