<div class='container'>
	<h1> <%- user.tipo %> </h1>
	<h3><%- user.nombre %> </h3>
	<hr>
	<h3> <%- user.usuario %> </h3>
	<a class="btn btn-medum btn-primary" href="/administrador/edit/<% user.id %>"> Editar</a>
</div>